<i class="material-icons ct-lock-icon" *ngIf="!isTimeEntryAvailable"
   [title]="lockReason">lock</i>
<ct-entry-time #form [timeEntry]="timeEntry"
               (timerUpdated)="updateTimer()"
               (deleted)="deleteTimeEntry()"
               class="ct-border-{{timeEntry.color}}"></ct-entry-time>
<div *ngIf="timeEntry.timeOptions.isFromToShow" class="ct-calendar-time-entry-period">
    {{setTimeString(timeEntry.timeValues.timeFrom)}} - {{setTimeString(timeEntry.timeValues.timeTo)}}
</div>

<a *ngIf="isTimeEntryAvailable && !isTimerShown"
   class="ct-menu-open-link" [class.ct-menu-opened]="menu.isOpen"
   (click)="menu.toggleMenu()">
    <i class="material-icons">more_horiz</i>
</a>

<ct-menu #menu [xPosition]="'before'" class="ct-actions-drop-menu "
         (closed)="isCalendarShown = false">
    <ct-menu-item [class.ct-disabled]="!timeEntry.id || isTimerShown">
        <a mat-ripple (click)="duplicateAction()">Duplicate <span class="ct-menu-hint">(Alt+Drag)</span></a>
    </ct-menu-item>
    <ct-menu-item [autoClose]="false" [class.ct-disabled]="!timeEntry.id || isTimerShown">
        <div class="ct-menu-container">
            <a mat-ripple (click)="moveAction(submenu)">Move <span class="ct-menu-hint">(Drag)</span></a>
            <ct-menu #submenu [xPosition]="'before'"
                     class="ct-submenu ct-datepicker-menu"
                     [class.ct-open-left]="isOpenLeft"
                     [class.ct-open-right]="isOpenRight"
                     [class.ct-open-mobile]="isOpenMobile">
                <ct-datepicker class="ct-datepicker" *ngIf="isCalendarShown"
                               [firstDayOfWeek]="firstDayOfWeek"
                               [date]="selectedDate"
                               [displayDate]="timeEntry.date"
                               (closed)="submenu.closeMenu()"
                               (dateChanged)="dateOnChange($event)"></ct-datepicker>
            </ct-menu>
        </div>
    </ct-menu-item>
    <ct-menu-item [class.ct-disabled]="!timeEntry.id || isTimerShown">
        <a mat-ripple (click)="deleteAction()">Delete</a>
    </ct-menu-item>
</ct-menu>

<div class="ct-calendar-time-entry-container" [class.ct-lock-overlay]="!isTimeEntryAvailable">
    <div (click)="openEntryTimeForm()" [style.height]="calculateCalendarTaskHeight() + 'px'">
        <div class="ct-calendar-time-entry-title">
            {{timeEntry.projectName}}
        </div>
        <div class="ct-calendar-time-entry-type">
            {{timeEntry.taskName}}
        </div>
        <pre class="ct-calendar-time-entry-description" *ngIf="timeEntry.description">{{ timeEntry.description }}</pre>
    </div>
    <div class="ct-calendar-time-entry-time" (click)="openEntryTimeForm()">
        <div *ngIf="!isTimerShown" class="ct-calendar-time-entry-hours-tracked" title="Tracked time">
            <span>{{setTimeString(timeEntry.timeValues.timeActual)}}</span>
        </div>
        <div *ngIf="isTimerShown" class="ct-timer-block" style="z-index: 2; position:relative;">
            <span class="ct-clock"><i></i></span>
            <span>{{timerValue}}</span>
        </div>
        <div *ngIf="timeEntry.timeValues.timeEstimated > 0" class="ct-calendar-time-entry-hours-planned" title="Planned time">
            <span>{{setTimeString(timeEntry.timeValues.timeEstimated)}}</span>
        </div>
    </div>
    <div *ngIf="isTimerShown" title="Stop timer" (click)="stopTimer()" class="ct-calendar-task-stop-timer"></div>
</div>
