<div #scrollHeader class="ui-widget-header ui-datatable-scrollable-header" [ngStyle]="{'width': width}">
	<div #scrollHeaderBox  class="ui-datatable-scrollable-header-box">
		<table [class]="dt.tableStyleClass" [ngStyle]="dt.tableStyle">
			<thead class="ui-datatable-thead">
				<tr *ngIf="!headerColumnGroup" class="ui-state-default" [pColumnHeaders]="columns"></tr>
				<ng-template [ngIf]="headerColumnGroup">
					<tr *ngFor="let headerRow of headerColumnGroup.rows" class="ui-state-default" [pColumnHeaders]="headerRow.columns"></tr>
				</ng-template>
			</thead>
		</table>
	</div>
</div>
<!--was
<div #scrollBody class="ui-datatable-scrollable-body" [ngStyle]="{'width': width,'max-height':dt.scrollHeight}">
-->
<div #scrollBody class="ui-datatable-scrollable-body" [ngStyle]="{'width': width}" #slimScroll="slimScroll" slimScroll>
	<div #scrollTableWrapper style="position:relative">
		<table #scrollTable [class]="dt.tableStyleClass" [ngStyle]="dt.tableStyle" [ngClass]="{'ui-datatable-virtual-table':virtualScroll}" style="top:0px">
			<colgroup class="ui-datatable-scrollable-colgroup">
				<col *ngFor="let col of columns" [ngStyle]="col.headerStyle||col.style" [ngClass]="{'ui-helper-hidden': col.hidden}"/>
			</colgroup>
			<tbody [ngClass]="{'ui-datatable-data ui-widget-content': true, 'ui-datatable-hoverable-rows': (dt.rowHover||dt.selectionMode)}" [pTableBody]="columns" [data]="dt.dataToRender"></tbody>
		</table>
	</div>
</div>
<div #scrollFooter class="ui-widget-header ui-datatable-scrollable-footer" [ngStyle]="{'width': width}" *ngIf="dt.hasFooter()">
	<div #scrollFooterBox  class="ui-datatable-scrollable-footer-box">
		<table [class]="dt.tableStyleClass" [ngStyle]="dt.tableStyle">
			<tfoot class="ui-datatable-tfoot">
				<tr *ngIf="!footerColumnGroup" [pColumnFooters]="columns" class="ui-state-default"></tr>
				<ng-template [ngIf]="footerColumnGroup">
					<tr *ngFor="let footerRow of footerColumnGroup.rows" [pColumnFooters]="footerRow.columns"></tr>
				</ng-template>
			</tfoot>
		</table>
	</div>
</div>