<div class="ct-calendar-page" (window:resize)="onResize($event)">
    <div class="ct-page-container">
        <div class="ct-page-header">
            <div *ngIf="availablePeriod > 1" class="ct-page-tabs">
                <a (click)="toggleView(false)" [class.ct-active-tab]="activePeriod == 1">day</a>
                <a (click)="toggleView(true)" [class.ct-active-tab]="activePeriod > 1">week</a>
            </div>
            <div class="ct-page-tabs ct-calendar-periods" [class.ct-day-tab]="activePeriod == 1" [class.ct-week-tab]="activePeriod > 1">
                <a class="ct-prev" (click)="toggleTimePeriod(-1)">{{getDatesPeriod(-1)}}</a>
                <a class="ct-active-tab">{{getDatesPeriod(0)}}</a>
                <a class="ct-next" (click)="toggleTimePeriod(1)">{{getDatesPeriod(1)}}</a>
            </div>

            <div class="ct-calendar-projects">
                <ct-multiselect
                        [panelStyleClass]="'ct-calendar-multiselect' + (impersonationService.impersonationUser ? ' ct-impersonate' : '')"
                        [(ngModel)]="projectIds"
                        (onChange)="toggleProject(projectIds)"
                        [appendTo]="'body'"
                        [defaultLabel]="'All Projects'"
                        [options]="projects"
                        [extraActionTitle]="showOnlyActive ? 'Show Archived' : 'Hide Archived'"
                        (onExtraAction)="toggleArchivedProjects()"
                        [maxSelectedLabels]="1"
                        [selectedItemsLabel]="'Projects ({0})'">
                </ct-multiselect>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>