.ct-user-circle-icon {
  display: inline-block;
  position: absolute;
  top: -3px;
  width: 25px;
  height: 19px;
  overflow: hidden;

  & + * {
    margin-left: 25px;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid $main-blue;
    left: 7px;
    top: 3px;
  }

  &:after {
    width: 12px;
    height: 10px;
    top: 13px;
    left: 3px;
  }
}

.ui-column-title, .ui-sortable-column-icon {
  color: $grid-text;
}

.ct-grid-container {
  .ui-datatable {
    background: #fff;
    padding-bottom: 20px;
  }

  td {
    position: relative;
    color: $grid-text;
    vertical-align: top;
    word-break: break-all;
    word-break: break-word;
  }

  .ui-cell-data {
    position: relative;
  }

  .ct-proj-client-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }

  .ct-edit-links {
    position: relative;
    top: -8px;
  }

  .ui-datatable-scrollable-header {
    background: none;
  }

  .ui-datatable-scrollable-body {
    padding-right: 0;
    max-height: calc(100vh - 254px);
  }

  .ui-datatable-scrollable-wrapper {
    .slimscroll-wrapper {
      height: 100% !important;

      .slimscroll-grid {
        right: 0 !important;
      }

      .slimscroll-bar {
        right: 3px !important;
      }
    }
  }

  td, th, tr {
    border: none !important;
    font-family: inherit;
  }

  .ui-widget-content {
    border: none;
    background: none;
  }

  td:first-child, th:first-child {
    padding-left: 30px !important;
  }

  td:last-child, th:last-child {
    padding-right: 30px !important;
  }

  tbody {
    tr:hover {
      background-color: #f7f9fc !important;
    }
  }

  .ui-datatable-odd {
    background: transparent !important;
  }

  .ui-datatable-tablewrapper table, .ui-datatable-scrollable-wrapper table {
    thead {
      tr, td, th {
        background: none !important;
        color: $grid-text;
        font-size: $baseFont;
        font-family: inherit;
        text-transform: capitalize;
      }

      th {
        text-align: left;
        padding: 36px 8px 17px 8px;
      }
    }

    tbody td {
      padding: 17px 7px;

      &.ct-small-padding {
        padding: 11px 7px;
      }

      &.ct-access-level {
        padding: 7px 7px;
      }
    }
  }

  .ui-sortable-column:focus {
    outline: none;
  }

  .ct-grid-description {
    font-weight: 400;
    color: $grid-text;
  }

  .ct-info-col {
    font-weight: 700;
    color: $black;
  }

  .ct-grid-label {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -1px;

    & + .ct-grid-link-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
    }
  }

  .ct-grid-link-text {
    cursor: pointer;
  }

  .ct-grid-link {
    cursor: pointer;

    i.ct-controls-icon {
      font-size: 20px;
      top: -6px;
      position: relative;
    }

    i.ct-edit-timesheet-icon {
      display: inline-block;
      font-size: 20px;
      top: 1px;
      position: relative;
      background: white;
      width: 40px;
      height: 25px;
      border-radius: 12.5px;
      text-align: center;
    }
  }

  .ct-grid-link:hover {
    color: $main-blue;

    .ct-link-text {
      color: $main-blue !important;
    }
  }

  .ct-grid-count, .ct-grid-ellipse {
    position: relative;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    background: white;
    border-radius: 12.5px;
    padding: 0 9px;
    white-space: nowrap;

    span {
      color: transparent;
    }
  }

  .ct-grid-button {
    display: inline-block;
    position: relative;
    margin: -5px 0;
    color: white;
    background: $main-blue;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }

  .ct-grid-button-search {
    top: 6px;
  }

  .ct-grid-count {
    color: $black;
  }

  .ct-grid-delete {
    display: inline-block;
    color: $grid-text;

    i {
      position: relative;
      top: 2px;
    }
  }

  tr:hover {
    .ct-grid-link-text {
      color: $main-blue;
      text-decoration: underline;
    }

    .ct-grid-count {
      color: #374456 !important;

      span {
        color: $main-blue;
      }
    }

    .ct-grid-delete {
      color: $main-blue;
    }
  }

  .ct-manage-text {
    padding-left: 6px;
  }

  .ui-paginator-bottom {
    background: transparent;
    border: none;
    text-align: left;
    margin-top: 20px;
    border-top: 2px solid #f2f2f2;
    width: 100%;
    display: block;
    padding-left: 125px;
    padding-top: 25px;
  }

  .ui-paginator-rpp-options {
    float: left;
  }
}

.ct-grid-row-border {
  tbody {
    tr:not(.ct-loading-block) {
      td:first-child {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          left: 30px;
          content: '';
          width: calc(100vw - 100px);
          height: 2px;
          background: $gray-page-background;
        }
      }

      &:last-child td:first-child:before {
        position: absolute;
        bottom: 1px;
        left: 30px;
        content: '';
        width: calc(100vw - 100px);
        height: 2px;
        background: $gray-page-background;
      }
    }
  }

  tr:hover {
    td:first-child:after {
      background-color: #f7f9fc !important;
    }

    & + tr td:first-child:after {
      background-color: transparent;
    }
  }
}

.ct-data-table-wrapper {
  border-radius: 5px;
  overflow: hidden;
}

.ct-projects-page {
  table {
    tbody tr {
      > td:last-child .ui-cell-data {
        > .ct-grid-link:nth-child(2) {
          .ct-grid-count {
            left: 4px;
          }
        }
      }
    }
  }
}

.ct-tasks-page {
  table {
    tbody tr {
      > td:last-child {
        text-align: left !important;
      }

      > td:last-child .ui-cell-data {
        top: 0 !important;
      }
    }
  }
}

.ct-loading-block td {
  height: 50px;
  overflow: hidden !important;

  &:before {
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 150px;
    margin: auto;
    background: #fff url(./assets/grid-loader.gif) no-repeat center center;
    background-size: contain;
  }
}

.ct-visible {
  overflow: visible !important;

  .ui-datatable-scrollable-body {
    overflow: visible !important;
  }
}