ct-user-pic {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;

  &.ct-user-pic-avatar {
    width: 199px;
    height: 200px;
    border: 1px solid #ccc;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}