$main-blue: #00a0de;
$main-grey: #8994b3;
$dark-blue: #2d3e50;

$black: #353a4e;
$calendarTaskColor: #fff;
$gray-border: #e7e9f1;
$error-text: #ee5e5e;
$impers-header: #ea5b5b;
$gray-page-background: #f3f4f6;
$gray-text: #aab2c0;
$grid-text: #728096;
$formInputColor: #8994b3;
$nav-background: #fff;
$nav-menu-hover: #4e5d70;
$primary-btn-text: #fff;

//TODO: rename var

$primary-btn: #50bce0;
$primary-btn-hover: #3399c8;
$border-color: #f1f1f1;
$form-border: #cccccc;
$green: #27ae61;

// Calendar colors

$color0: #d7dee2;
$color1: #d0e9b3;
$color2: #f9f3ae;
$color3: #fdd49e;
$color4: #d7e9e9;
$color5: #b3e7e9;
$color6: #fcbfd9;
$color7: #dec4e8;

$colors: $color0, $color1, $color2, $color3, $color4, $color5, $color6, $color7;

.ct-color {
  background-color: currentColor;
}

.ct-border-color {
  border-left: 5px solid currentColor;
}

.ct-project-color {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: currentColor;
    opacity: .2;
    border-radius: 12px;
  }
}

.ct-container-color {
  .ct-time-period {
    border-top-color: currentColor;
    border-bottom-color: currentColor;
  }

  .ct-time-path, .ct-timer {
    background-color: currentColor;
    border-radius: 0;
  }
}