//ROBOTO
$robotoLight: 'Roboto Light', sans-serif;
$robotoRegular: 'Roboto Regular', sans-serif;
$roboto: 'Roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;
$robotoMedium: 'Roboto Medium', sans-serif;
$robotoBold: 'Roboto Bold', sans-serif;
$robotoBlack: 'Roboto Black', sans-serif;
$openSans: 'Open Sans', sans-serif;
$muliFont: 'Muli', sans-serif;
$ptSans: 'PT Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$karla: 'Karla', sans-serif;

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}