.ct-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: 22px !important;
}

.ct-timetracker-icon {
  top: -3px;
  background: url(./assets/icons1/clock-copy.svg) no-repeat center;
  background-size: 20px !important;
}

.ct-settings-icon {
  top: -1px;
  background: url(./assets/icons1/settings.svg) no-repeat center;
}

.ct-admin-icon {
  left: 24px;
  background-image: url(./assets/icons/ct.admin1.svg);
  background-size: 45% !important;
  background-repeat: no-repeat;
}

.ct-reports-icon {
  top: -1px;
  background: url(./assets/icons1/pie-chart.svg) no-repeat center;
}

.ct-menu-icon {
  background: url(./assets/icons1/menu.svg) no-repeat left center;
}

.ct-menu-blue-icon {
  background: url(./assets/icons1/menu-blue.svg) no-repeat left center;
}

.ct-nav-menu li:hover, .ct-menu-item:hover, .active {
  .ct-timetracker-icon {
    background-image: url(./assets/icons1/clock-copy-blue.svg);
  }

  .ct-admin-icon {
    background-image: url(./assets/icons/ct.admin2.svg);
  }

  .ct-settings-icon {
    background-image: url(./assets/icons1/settings-blue.svg);
  }

  .ct-reports-icon {
    background-image: url(./assets/icons1/pie-chart-blue.svg);
  }

  .ct-projects-icon {
    background-image: url(./assets/icons/ct.projects2.svg);
  }

  .ct-clients-icon {
    background-image: url(./assets/icons/ct.clients2.svg);
  }

  .ct-tasks-icon {
    background-image: url(./assets/icons/ct.tasks2.svg);
  }

  .ct-users-icon {
    background-image: url(./assets/icons/ct.users2.svg);
  }

}

.ct-projects-icon {
  background: url(./assets/icons/ct.projects1.svg) no-repeat center center;
}

.ct-clients-icon {
  background: url(./assets/icons/ct.clients1.svg) no-repeat center center;
}

.ct-tasks-icon {
  background: url(./assets/icons/ct.tasks1.svg) no-repeat center center;
}

.ct-users-icon {
  background: url(./assets/icons/ct.users1.svg) no-repeat center center;
}

.ct-controls-icon:before {
  display: inline-block;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  background: url(./assets/icons/controls.svg) no-repeat center center;
}

.ct-controls-icon:hover:before {
  background: url(./assets/icons/controls-hover.svg) no-repeat center center;
}

.ct-export-button:hover:before {
  background: url(./assets/icons/m.export.hover.svg) no-repeat center;
}

.ct-print-button:hover:before {
  background: url(./assets/icons/m.print.hover.svg) no-repeat center;
}

.ct-send-button:hover:before {
  background: url(./assets/icons/m.email.hover.svg) no-repeat center;
}

.ct-print-button {
  margin: 0;

  &:before {
    background: url(./assets/icons/m.print.svg) no-repeat center;
  }
}

.ct-send-button:before {
  background: url(./assets/icons/m.email.svg) no-repeat center;
}

.ct-columns-button:before {
  background: url(./assets/icons/m.settings.svg) no-repeat center;
}

.ct-columns-button:hover:before {
  background: url(./assets/icons/m.settings-hover.svg) no-repeat center;
}

.ct-datepicker-button:hover:before {
  background: url(./assets/icons/m.calendar.hover.svg) no-repeat center;
}

.ct-datepicker-button:before {
  background: url(./assets/icons/m.calendar.svg) no-repeat center;
}

.ct-export-button:before {
  background: url(./assets/icons/m.export.svg) no-repeat center;
}

.ct-prev, .ct-next {
  &:before {
    position: absolute;
    font-size: 30px;
  }
  &:hover {
    color: $nav-link-border;
  }
}

.ct-prev:before {
  content: '\2039';
}

.ct-next:before {
  content: '\203A';
}

.ct-controls-icon:before {
  display: inline-block;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  background: url(./assets/icons/controls.svg) no-repeat center center;
}

.ct-controls-icon:hover:before {
  background: url(./assets/icons/controls-hover.svg) no-repeat center center;
}

.ct-edit-timesheet-icon:before {
  display: inline-block;
  position: relative;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  top: 2px;
  background: url(./assets/icons/users.svg) no-repeat center center;
}

.ct-edit-timesheet-icon:hover:before {
  background: url(./assets/icons/users.hover.svg) no-repeat center center;
}