.ct-icon {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ct-timetracker-icon {
  background-image: url(./assets/icons1/clock-copy.svg);
}

.ct-timeactual-icon {
  background-image: url(./assets/icons1/time-white.svg);
  background-size: 20px;
}

.ct-timeestimated-icon {
  background-image: url(./assets/icons1/est-time-white.svg);
  background-size: 20px;
}

.ct-times-icon {
  background-image: url(./assets/icons1/x-circle.svg);
  width: 9px;
  height: 8px;
}

.ct-settings-icon {
  background-image: url(./assets/icons1/settings.svg);
}

.ct-admin-icon {
  top: -3px;
  background-image: url(./assets/icons1/ct.admin1.svg);
  background-size: 18px;
}

.ct-reports-icon {
  background-image: url(./assets/icons1/pie-chart.svg);
}

.ct-menu-icon {
  top: 1px;
  background-image: url(./assets/icons1/menu.svg);
  background-position: left center;
}

.ct-menu-blue-icon {
  top: 1px;
  background-image: url(./assets/icons1/menu-blue.svg);
  background-position: left center;
}

.ct-nav-menu li:hover, .ct-menu-item:hover, .active {
  .ct-timetracker-icon {
    background-image: url(./assets/icons1/clock-copy-blue.svg);
  }

  .ct-admin-icon {
    background-image: url(./assets/icons1/ct.admin2.svg);
  }

  .ct-settings-icon {
    background-image: url(./assets/icons1/settings-blue.svg);
  }

  .ct-reports-icon {
    background-image: url(./assets/icons1/pie-chart-blue.svg);
  }

  .ct-projects-icon {
    background-image: url(./assets/icons1/ct.projects2.svg);
  }

  .ct-clients-icon {
    background-image: url(./assets/icons1/ct.clients2.svg);
  }

  .ct-tasks-icon {
    background-image: url(./assets/icons1/ct.tasks2.svg);
  }

  .ct-users-icon {
    background-image: url(./assets/icons1/ct.users2.svg);
  }
}

.ct-projects-icon {
  background: url(./assets/icons1/ct.projects1.svg) no-repeat center;
  background-size: 40px;
  top: -3px;
}

.ct-clients-icon {
  background: url(./assets/icons1/ct.clients1.svg) no-repeat center;
  background-size: 40px;
  top: -3px;
}

.ct-tasks-icon {
  background: url(./assets/icons1/ct.tasks1.svg) no-repeat center;
  background-size: 40px;
  top: -3px;
}

.ct-users-icon {
  background: url(./assets/icons1/ct.users1.svg) no-repeat center;
  background-size: 40px;
  top: -3px;
}

.ct-controls-icon:before {
  display: inline-block;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  background: url(./assets/icons/controls.svg) no-repeat center center;
}

.ct-controls-icon:hover:before {
  background: url(./assets/icons/controls-hover.svg) no-repeat center center;
}

.ct-export-button:hover:before {
  background: url(./assets/icons/m.export.hover.svg) no-repeat center;
}

.ct-print-button:hover:before {
  background: url(./assets/icons/m.print.hover.svg) no-repeat center;
}

.ct-send-button:hover:before {
  background: url(./assets/icons/m.email.hover.svg) no-repeat center;
}

.ct-print-button {
  margin: 0;

  &:before {
    background: url(./assets/icons/m.print.svg) no-repeat center;
  }
}

.ct-send-button:before {
  background: url(./assets/icons/m.email.svg) no-repeat center;
}

.ct-columns-button:before {
  background: url(./assets/icons/m.settings.svg) no-repeat center;
}

.ct-columns-button:hover:before {
  background: url(./assets/icons/m.settings-hover.svg) no-repeat center;
}

.ct-datepicker-button:hover:before {
  background: url(./assets/icons/m.calendar.hover.svg) no-repeat center;
}

.ct-datepicker-button:before {
  background: url(./assets/icons/m.calendar.svg) no-repeat center;
}

.ct-export-button:before {
  background: url(./assets/icons/m.export.svg) no-repeat center;
}

.fa-angle-up, .fa-angle-down, .fa-angle-left, .fa-angle-right {
  font-size: 22px;
  color: $main-grey;
}

.fa-angle-left, .fa-angle-right {
  &:hover, a:hover > & {
    color: $nav-link-hover;
  }
}

.ct-controls-icon:before {
  display: inline-block;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  background: url(./assets/icons/controls.svg) no-repeat center center;
}

.ct-controls-icon:hover:before {
  background: url(./assets/icons/controls-hover.svg) no-repeat center center;
}

.ct-edit-timesheet-icon:before {
  display: inline-block;
  position: relative;
  cursor: pointer;
  content: '';
  height: 18px;
  width: 18px;
  top: 2px;
  background: url(./assets/icons/users.svg) no-repeat center center;
}

.ct-edit-timesheet-icon:hover:before {
  background: url(./assets/icons/users.hover.svg) no-repeat center center;
}