ct-read-more {
  @media print {
    .ct-screen-mode, .ct-see-more {
      display: none;
    }
  }
}

.ct-print-mode {
  display: none;
}

@media print {
  .ct-print-mode {
    display: block;
  }

  ct-navigation, .ct-page-header, .ct-reports-sidebar, ct-user-pic,
  tbody .ui-column-title {
    display: none !important;
  }

  .ct-reports-grid-container {
    width: 100%;
    margin-left: 0;
  }

  .ct-content {
    padding: 0;
    background: #fff;
  }

  .ct-reports-page {
    .ct-grid-header {
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      page-break-inside: avoid;
      font-size: 10pt;

      & + .ct-grid-container {
        margin-top: 0;

        thead {
          th {
            display: table-cell !important;
            padding-top: 20px;
            font-weight: 700;
          }

          .fa {
            display: none;
          }
        }
      }
    }

    .ct-reports-grid {
      page-break-inside: avoid;

      &:first-child {
        margin-top: 0;
        padding-top: 20px;
      }
    }

    td:last-child, th:last-child {
      padding-right: 10px !important;
    }

    .ct-total-footer {
      padding: 25px 10px;
    }
  }

  p-datatable, ct-reports-grid, ct-reports, ct-root {
    display: block !important;
  }

  tr {
    display: flex !important;
    page-break-inside: avoid;
  }

  td {
    font-size: 9pt !important;
    line-height: 1.3;
  }

  .ct-cell-date {
    flex: 0 0 75pt;
  }

  .ct-cell-project, .ct-cell-client, .ct-cell-user, .ct-cell-task {
    flex: 0 0 100pt;
  }

  .ct-cell-actual, .ct-cell-estimated, .ct-cell-start, .ct-cell-finish {
    flex: 0 0 65pt;
  }

  .ct-period-for-print {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 9pt;
  }
}