$fieldHeight: 30px;
$selectHeight: 35px;
$selectItemBgHover: $gray-page-background;
$baseFont: 14px;
$smallFont: 12px;

$button-font-size: 17px;

$baseFontFamily: $kohoFont;
$navFontFamily: $kohoFont;

body, html {
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  font-family: $baseFontFamily;
  letter-spacing: .2px;
}

ul, li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

}

.ct-disabled {
  pointer-events: none;
  cursor: default;
}

textarea {
  resize: none;
  font-family: inherit;
  color: $grid-text;
}

select, input, textarea, form {
  font-family: inherit;
  box-shadow: none !important;

  &:focus {
    outline: none;
  }
}

h1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 38px;
  color: #374456;
}

h2, h3, h4 {
  font-family: inherit;
  font-weight: 700;
  color: #374456;
}

h5 {
  font-family: inherit;
  font-weight: 700;
}

//===========================

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ct-header {
  font-weight: bold;
  font-size: 24px;
  color: $dark-blue;
}

.ct-full-width {
  width: 100%;
}

.ct-bold {
  font-family: inherit;
  font-weight: 700;
}

.ct-input-label {
  font-size: $baseFont;
  color: $gray-text;
}

.ct-blue-text {
  color: $main-blue;
}

.ct-inactive-title {
  display: none;
}

.ct-link-text {
  display: inline-block;
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: bold;
  color: $main-grey;
  text-transform: capitalize;

  &:focus, &:hover {
    outline: none;
    color: $black;
  }
}

.ct-form-label {
  display: block;
  margin-top: 23px;
  padding-bottom: 2px;
  font-size: $smallFont;
  color: $grid-text;
}

.ct-info-message {
  font-family: inherit;
  font-size: $smallFont;
  text-align: justify;
  font-style: italic;
  margin-top: 5px;
  color: $gray-text;
  letter-spacing: 0.2px;
  line-height: 15px;
}

.ct-nav-logo {
  height: 36px;
  width: 36px;
  background: url(./assets/icons/logo.svg) no-repeat center center;
  display: inline-block;
  background-size: 100%;
}

.ct-nav-logo:focus {
  outline: none;
}

.ct-btn {
  text-transform: uppercase;
}

.ct-submit {
  height: 40px;
  letter-spacing: .5px;
  width: 100px;
  font-size: $button-font-size;
  float: right;
  font-family: inherit;
  box-shadow: none;
  border-radius: 0;
}

.ct-submit[disabled] {
  opacity: 0.7;
}

.ct-close {
  color: $main-blue;
  font-size: 14px;
  font-family: inherit;
  line-height: 16px !important;
  cursor: pointer;
  transition: .3s;
  display: inline-block;
  position: relative;
  top: 25px;

  &:hover {
    color: #374456;
  }
}

.ct-primary-button {
  background: $main-blue;
  color: $primary-btn-text !important;
}

.ct-primary-button:hover, .ct-primary-button:active, .ct-primary-button.active {
  background: $main-blue-hover !important;
  color: $primary-btn-text;
}

.ct-link {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: pointer;
}

.ct-default-text {
  color: #374456;
}

.mat-input-underline {
  display: none;
}

.ct-lowercase {
  text-transform: lowercase;
}

.ct-grid-search-filter {
  $placeholderColor: hsla(0, 0%, 0%, .86);

  position: relative;
  box-sizing: border-box;
  float: right;
  top: -50px;
  right: 320px;
  width: 180px;
  z-index: 1001;

  .fa-search {
    position: absolute;
    left: 7px;
    top: 9px;
    font-size: 16px;
    color: $main-grey;
  }

  .ct-input-element {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 0 10px 0 30px;
    background: none;
    border: 0;
    border-bottom: 1px solid $gray-page-background;

    &:focus {
      border-color: $main-blue;
    }

    &::-webkit-input-placeholder {
      color: $placeholderColor;
    }

    &::-moz-placeholder {
      color: $placeholderColor;
    }

    &:-moz-placeholder {
      color: $placeholderColor;
    }

    &:-ms-input-placeholder {
      color: $placeholderColor;
    }
  }
}

.ct-paginator-label {
  position: absolute;
  bottom: 7px;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 14px;
  color: #374456;
}

.slimscroll-grid {
  width: 8px !important;
  margin: 0 !important;
  background: none !important;
  z-index: 1 !important;
}

.slimscroll-bar {
  background-color: $gray-border !important;
  right: 1px !important;
  width: 6px !important;
  margin: 0 !important;
  z-index: 2 !important;
}

.ct-button, .mat-raised-button {
  font-family: inherit !important;
  font-size: 14px !important;
  box-shadow: none !important;

  .mat-button-wrapper {
    font-family: inherit;
  }
}

.ct-button:disabled {
  background-color: $main-blue !important;
}

.ct-blue-button {
  background-color: $main-blue;
  border: none;
  height: 40px;
  font-size: 14px;
  color: $primary-btn-text;
  cursor: pointer;
  outline: none;
  border-radius: 5px !important;
  transition-duration: .3s;

  span {
    color: $primary-btn-text;
    font-size: 14px;
    font-family: inherit;
  }

  &[disabled] {
    background-color: $grid-text;
    opacity: .7;
  }
}

.ct-loading {
  &.ct-grid-button, &.ct-blue-button, &.ct-grid-link {
    position: relative;
    pointer-events: none;
    cursor: default;

    &:after {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 18px;
      height: 18px;
      content: '';
      background: url(./assets/rolling-white.gif) no-repeat center center;
      background-size: contain;
    }
  }

  &.ct-grid-button:after {
    top: 1px;
    right: 1px;
    width: 15px;
    height: 15px;
  }

  &.ct-grid-link:after {
    background-image: url(./assets/rolling-blue.gif);
    top: 5px;
    right: -20px;
  }

  &.ct-view-members {
    position: relative;

    &:after {
      position: absolute;
      top: 9px;
      left: -25px;
      height: 20px;
      width: 20px;
      content: "";
      background-image: url(./assets/rolling-blue.gif);
      background-size: 20px;
    }
  }

  .ct-select .fa:before {
    display: block;
    content: '';
    top: 8px;
    right: -4px;
    width: 18px;
    height: 18px;
    background: url(./assets/rolling-blue.gif) no-repeat center;
    background-size: contain;
  }

  &.ct-select-ellipse .fa:before {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
    content: '';
    background: url(./assets/rolling-white.gif) no-repeat center;
    background-size: contain;

    tr:hover & {
      background-image: url(./assets/rolling-blue.gif);
    }
  }

  &.ct-round-button {
    pointer-events: none;
    cursor: default;

    &:after {
      display: none;
    }

    &:before {
      width: 18px;
      height: 18px;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-8px);
      border: none;
      margin: auto;
      background: url(./assets/rolling-white.gif) no-repeat center;
      background-size: contain;
    }
  }

  &.ct-result-message i {
    &:before {
      display: block;
      content: '';
      width: 18px;
      height: 18px;
      background: url(./assets/rolling-blue.gif) no-repeat center;
      background-size: contain;
    }
  }
}

.ct-color-empty {
  font-style: italic;
  color: $gray-text;
  display: inline-block;
  font-family: inherit;
  font-size: $baseFont;
}

.ct-gray-sm {
  color: $gray-text;
  font-family: inherit;
  font-size: $smallFont;
  display: block;
  position: relative;
  top: -3px;
}

.ct-error-text {
  color: $error-text;
  font-size: 13px;
}

.ct-hint-text {
  color: $grid-text;
  font-size: 12px;
}

.ct-see-more {
  display: inline-block;
  cursor: pointer;
  float: right;
  border-bottom: 1px dotted;
  line-height: 16px;
  margin-top: 10px;

  &:hover {
    color: $nav-menu-hover;
  }
}

.ct-top {
  vertical-align: top;
}

.ct-subscription {
  color: $gray-text;
  font-style: italic;
}

.ui-datatable-scrollable-header-box {
  margin-right: 0 !important;
}

.ct-cancel-button {
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dotted $gray-text;
  font-size: 14px;
  font-family: inherit;
  color: $gray-text;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #374456;
  }

  &:focus {
    outline: none;
  }
}

.ct-dialog-close {
  background: url(./assets/icons/cancel.svg) no-repeat center center;
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  right: 0;
  top: 3px;
  border: none;
  opacity: 0.5;
  outline: none;
  color: $gray-text;
  cursor: pointer;
  transition-duration: .3s;

  &:hover {
    opacity: 1;
  }
  .fa {
    font-size: 18px;
  }
}

.ct-noscroll {
  overflow: hidden;
}