<div class="ct-login-page">
    <form class="ct-login-form ct-login-form-demo">
        <button md-raised-button class="ct-button ct-primary-button" (click)="loginByData('user', 'password')">
            Login as User
        </button>
        <button md-raised-button class="ct-button ct-primary-button" (click)="loginByData('pm', 'password')">
            Login as PM
        </button>
        <button md-raised-button class="ct-button ct-primary-button" (click)="loginByData('admin', 'password')">
            Login as Admin
        </button>
    </form>
</div>