<div class="ct-profile-page">
    <div class="ct-page-container">
        <div class="ct-page-header">
            <h3 class="ct-header">My Profile</h3>
        </div>

        <div class="ct-page-content">
            <ct-profile-settings></ct-profile-settings>

            <div class="ct-profile-block ct-profile-projects">
                <h3 class="ct-header">My Projects</h3>

                <p-dataTable class="ct-grid-container ct-grid-row-border" #tableWrapper
                             [emptyMessage]="'You haven\'t assigned to any project yet.'"
                             [value]="projects"
                             [resizeObservable]="resizeObservable"
                             [sortField]="'name'"
                             [responsive]="true" [lazy]="true"
                             (onLazyLoad)="loadLazy($event)">
                    <p-column field="name" header="Project" [sortable]="true" styleClass="ct-info-col">
                        <ng-template let-col let-project="rowData" pTemplate="body">
                            <span class="ct-grid-label ct-color" [ngStyle]="{color: numberToHex(project.color)}"></span>
                            <span class="ct-grid-link-text" title="{{ project.name }}">{{ project.name }}</span>
                        </ng-template>
                    </p-column>

                    <p-column header="Managers" styleClass="ct-info-col">
                        <ng-template let-col let-project="rowData" pTemplate="body">
                            {{setManagersString(project.managersNames)}}
                        </ng-template>
                    </p-column>

                    <p-column [style]="{'width':'280px'}" header="Team" styleClass="ct-info-col">
                        <ng-template let-col let-project="rowData" let-index="rowIndex" pTemplate="body">
                            <span class="ct-user-circle-icon"></span>
                            <i class="ct-grid-count">{{project.memberCount}}</i>
                            <span class="ct-view-members"
                                  [class.ct-loading]="project.isMemberLoading"
                                  [class.ct-select-opened]="select.isOpen"
                                  (click)="toggleMembersShown(select, project, index)">View Members
                            </span>
                            <ct-select class="ct-project-members-select" #select
                                       [displayName]="'memberName'" [trackBy]="'memberId'"
                                       [container]="tableWrapper.el.nativeElement"
                                       [iconField]="'urlIcon'"
                                       [options]="project.memberList"
                                       (selectToggled)="resizeObservable.next()">
                            </ct-select>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

