<!--Added to allow control be focused-->
<input class="ct-input-hidden-control" (focus)="toggle()">
<div class="ct-color-picker" ngDefaultControl>
	<span *ngIf="_selectionModel.hasValue()" class="ct-color-circle ct-color-{{ triggerValue }}"></span>
	<mat-icon cdkOverlayOrigin #origin="cdkOverlayOrigin" (click)="toggle()" #trigger title="Color">{{panelOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
</div>
<ng-template
	cdk-connected-overlay
	hasBackdrop
	backdropClass="cdk-overlay-transparent-backdrop"
	[origin]="origin"
	[open]="panelOpen"
	(backdropClick)="close()"
	(detach)="close()">
	<div
		class="mat-select-panel ct-color-picker-popup"
		(keydown)="_handlePanelKeydown($event)">
		<!--<div class="mat-select-content" [@fadeInContent]="'showing'" (@fadeInContent.done)="_onFadeInDone()">-->
		<div class="mat-select-content">
			<ng-content></ng-content>
		</div>
	</div>
</ng-template>
