$fieldHeight: 42px;

.ct-header {
  font-size: 18px;
  font-weight: bold;
  color: $dark-blue;

  .ct-page-header & {
    float: left;
    margin-right: 40px;
  }
}

.ct-report-filters-block {
  margin-top: 20px;

  label {
    display: block;
  }

  > div {
    margin-bottom: 15px;
  }

  .mat-select-value-text {
    line-height: $fieldHeight;
    font-weight: 700;
    color: #8994b3;
  }

  [class*="fa-angle"] {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .ct-select-selected-options-text, .ct-select-component {
    height: $fieldHeight;
  }

  .ct-select {
    height: $fieldHeight;
    background: none;
    border: none;
    border-bottom: 2px solid $gray-page-background !important;
  }

  .ct-filter-label {
    position: relative;
    bottom: -5px;
    display: block;
    height: 15px;
    font-size: 12px;
    color: $grid-text;
  }

  .ct-select-selected-options-text {
    padding-left: 0;
    line-height: $fieldHeight;
    color: $formInputColor;
  }
}

.ct-reports-time-period-block {
  position: relative;
}

.ct-reports-time-period {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  font-weight: 700;
  color: #8994b3;
  line-height: 35px;

  > div {
    box-sizing: border-box;
    position: relative;
    width: 170px;
    padding: 0 20px;
    background-color: $gray-page-background;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    span {
      display: block;
    }
  }

  > a {
    position: relative;
    width: 25px;
    text-align: center;
    cursor: pointer;

    &:before {
      top: -2.5px;
      left: 0;
      right: 0;
    }
  }

  .fa {
    width: 15px;
  }

  .fa-angle-down, .fa-times {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 35px;
  }
}

.ct-reports-sidebar {
  position: fixed;
  top: $nav-height;
  left: 0;
  width: 300px;
  height: calc(100% - 66px);
  background-color: $nav-background;
  border-top: 1px solid $gray-page-background;
  box-sizing: border-box;
  box-shadow: $box-shadow;
  z-index: 1;

  .ct-header {
    margin-bottom: 25px;
  }

  .ct-reports-sidebar-container {
    height: calc(100vh - 66px);
  }
}

.ct-sidebar-block {
  padding: 25px 30px 40px;
  border-top: 1px solid $gray-page-background;

  &:first-child {
    border-top: none;
  }
}

.ct-reports-multiselect {
  .ui-multiselect-panel {
    position: fixed;
    margin-left: -11px;
  }

  &.ct-clients .ui-multiselect-panel {
    top: 234px;
  }

  &.ct-projects .ui-multiselect-panel {
    top: 293px;
  }

  &.ct-users .ui-multiselect-panel {
    top: 352px;
  }
}

.ct-report-query-links {
  margin: 30px 0 20px;

  button {
    height: 26px;
    line-height: 22px;
    padding: 0 10px;
    background: none;
    border-radius: 13px;
    border: solid 2px #f3f4f6;
    font-size: 11px;
    color: $main-grey;

    i {
      position: relative;
      top: 2px;
      font-size: 13px;
      margin-right: 2px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $main-blue;
    }
  }

  .ct-query-add-box {
    float: right;
  }
}

.ct-query-block {
  position: relative;

  .ct-select {
    background-color: $gray-page-background;
    border-color: $gray-page-background !important;
    border-radius: 5px;

    .ct-select-default-text {
      color: $main-grey;
    }
  }

  .ct-delete-icon {
    position: absolute;
    bottom: 6px;
    right: 3px;
    background-color: $gray-page-background;
    font-size: 20px;
    color: $main-grey;
    cursor: pointer;
  }
}

.ct-reports-chart-block {
  ct-user-pic {
    float: left;
    margin-right: 20px;
  }

  li {
    margin-bottom: 25px;
  }
}

.ct-reports-chart-title {
  margin-bottom: 5px;
  font-weight: 700;
  color: $black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ct-reports-chart-value {
  display: flex;
  align-items: baseline;
}

.ct-reports-chart-number {
  margin-left: 9px;
  font-size: 12px;
  color: $grid-text;
}

.ct-reports-page {
  .ct-screen-mode {
    line-height: 16px;
  }

  .ct-columns-multiselect {
    width: 18px;
    cursor: pointer;

    .ct-multiselect {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: none;
      border: 0;
    }

    .ct-select {
      display: none;
    }
  }

  .ct-icon:not(.ct-settings-icon) {
    top: -2px;
    height: 33px;
    margin: 0;
    padding: 0 20px;
    border-left: 2px solid #fff;
    cursor: pointer;

    &:first-child {
      border: none;
    }

    &:hover {
      background-color: #fff;
    }
  }

  .ct-btn-block {
    position: relative;
    height: 35px;
    box-sizing: border-box;
    float: right;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 0;
  }

  .ct-actions-drop-menu {
    right: -12px;
  }

  .ct-reports-grid {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;

    .ui-datatable-tablewrapper table {
      margin-bottom: 0 !important;
    }
  }

  .ct-reports-grid-header {
    max-width: 400px;
    font-size: 24px;
    font-weight: 700;
    color: $dark-blue;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;

    ct-user-pic {
      vertical-align: middle;
    }
  }

  .ct-grid-header {
    padding: 0 25px;
    height: 100px;
    line-height: 100px;
    font-weight: 700;

    > div {
      display: inline-block;
    }

    .ct-total-time-container {
      float: right;
      color: $main-grey;
    }

    .ct-total-hours-tracked {
      margin-left: 10px;
      font-size: 24px;
      color: $main-blue;
    }
  }

  .ct-grid-container {
    margin-top: 40px;

    .ui-datatable {
      padding-bottom: 0;
    }

    .ui-datatable-thead {
      display: none;
    }

    .ui-datatable-even {
      background-color: #f7f9fc;
    }

    tr:hover {
      background: $gray-page-background !important;
    }

    h3 {
      margin-bottom: 5px;
      color: $black;
    }

    .ct-cell-project {
      width: 200px;
    }

    .ct-cell-project, .ct-cell-task {
      vertical-align: top;
    }

    .ct-cell-user {
      width: 200px;
      font-weight: 700;
      vertical-align: middle;

      ct-user-pic {
        margin-right: 5px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }

    .ct-cell-date {
      width: 100px;
    }

    .ct-cell-time {
      width: 220px;
      text-align: right;

      div {
        font-size: 12px;

        &:not(:only-child) {
          margin-top: 7px;
        }
      }
    }
  }

  .ct-calendar-hours-tracked, .ct-calendar-hours-planned {
    float: none;
    margin-left: 15px;
    font-weight: 700;
  }

  .ct-total-footer {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;

    > * {
      height: 30px;
      line-height: 30px;
    }

    .ct-total-time-container {
      float: right;
    }
  }

  ct-range-datepicker {
    position: absolute;
    top: 36px;
    right: -10px;
    left: -10px;
    box-sizing: border-box;
    padding: 5px 0 20px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: $box-shadow;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s;

    &.ct-datepicker-opened {
      opacity: 1;
    }
  }

  .ct-hot-links-container {
    margin-top: 20px;
    line-height: 12px;
    text-align: center;

    li {
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      height: 22px;
      width: 25%;
      text-align: center;

      a {
        border-bottom: 1px dotted;
      }

      &:hover {
        color: $main-blue;
      }
    }
  }

  .ct-nodata {
    margin-top: 15px;
    font-family: inherit;
  }
}

.ct-send-reports-dialog {
  .ct-link-text {
    margin: 10px 5px 0 0;
  }

  .ct-form {
    margin: 20px 0;
  }

  .ct-table {
    width: 100%;

    td {
      padding: 5px 0;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        width: 15px;
      }
    }
  }
}

.ct-reports-grid-container {
  width: calc(100% - 325px);
  margin-left: 325px;
  margin-bottom: 20px;
}