$fieldHeight: 30px;

.ui-multiselect-panel.ct-reports-multiselect > div {
  z-index: 996 !important;
  position: fixed;
}

.ui-multiselect-panel.ct-reports-settings-multiselect {
  z-index: 996 !important;
  position: fixed;
  //top: 101px !important;
}

.ct-reports-page {
  .ct-total-footer {
    margin: 0 20px 40px 0 !important;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none !important;

    label {
      font-weight: 700;
    }
    .ct-total-hours-tracked {
      padding-left: 24px;
    }
  }

  .ct-grid-container.ct-total-time-container {
    position: relative;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    //margin: 0 20px 40px 0;
    background: $blue-grid-header;
    margin-top: 0;
    padding: 20px;

    //table {
    //  width: 100%;
    //  margin-bottom: 0 !important;
    //}
    //
    //td {
    //  box-sizing: border-box;
    //}

    label {
      //position: absolute;
      //top: 0;
      //left: 20px;
      //height: 38px;
      //line-height: 38px;
      font-size: 14px;
      color: $main-blue;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
    }

    div {
      display: inline-block;
      float: right;
    }
  }

  .ct-reports-grid {
    .ui-datatable-tablewrapper table {
      margin-bottom: 0 !important;
    }

    .ui-cell-data {
      line-height: 15px !important;
      font-size: 13px !important;
    }

    .ct-actual-label {
      background: #66b2cc;
      color: #ffffff;
      padding: 2px 4px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 5px;
    }

    .ct-total-time-container {
      //margin: -12px 0 0;
      //
      //span {
      //  display: inline-block;
      //  max-width: 400px;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //  white-space: nowrap;
      //  vertical-align: bottom;
      //}
    }
  }

  .ct-reports-data {
    padding-right: 20px;
  }

  //.ct-total-time-container {
  //  td {
  //    font-weight: bold;
  //  }
  //}

  .ct-page-container .ct-page-header {
    height: auto;
    min-height: 46px;
    position: fixed;
    z-index: 995;
    background: $blue-grid-header;
    width: 61%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 100%;
      background: $gray-page-background;
      top: -20px;
    }
  }

  .ct-grid-container .ui-cell-data {
    top: 0;
  }

  .ct-white-button {
    background: #ffffff;
    color: $nav-link-border !important;
    border: 1px solid #dfdfdf;
  }

  .ct-gray-button {
    background: #dfdfdf;
    border: 1px solid #dfdfdf;
  }

  .ct-reports-settings {
    position: relative;
    height: 30px;
    line-height: 30px;
    display: inline-block;

    .ct-reports-actions-block {
      position: relative;
      height: 30px;
      line-height: 30px;

      > * {
        display: inline-block;
      }

      .ct-prev, .ct-next, .fa-sort-desc:before {
        color: $nav-link-border;
      }
    }
  }

  .ct-query-block {
    position: relative;
    display: inline-block;
    bottom: 2px;

    > * {
      vertical-align: middle;
    }

    .ct-select {
      display: none;
    }

    .ct-select-component {
      margin: 0;
      position: absolute;
      width: 208px;
    }

    .ct-query-text {
      box-sizing: border-box;
      display: inline-block;
      margin-left: -5px;
      padding: 0 5px;
      width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
    }

    .ct-select-open-button {
      background: none;
      border: none;
      padding: 0;
      outline: none;
      cursor: pointer;

      i {
        vertical-align: middle;
      }

      &:hover i {
        background-color: #ddd;
      }

      &.ct-disabled {
        opacity: 0.5;
      }
    }

    .ct-close {
      display: none;
      margin-left: -10px;
      font-size: 14px;
      line-height: 19px;
    }

    .ct-query-text:hover + .ct-close, .ct-close:hover {
      display: inline-block;
    }
  }

  .ct-collapsed-menu-footer {
    margin-top: 20px;
  }

  .ct-reports-reset-link {
    position: relative;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: right;
    cursor: pointer;

    span {
      text-decoration: none;
      border-bottom: 2px dotted;
    }
  }

  .ct-reports-time-period {
    position: relative;
    height: 30px;
    line-height: 30px;

    > div {
      cursor: pointer;
    }

    > a {
      display: inline-block;
      position: relative;
      margin-top: -9px;
      width: 15px;
      height: 30px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      &:before {
        top: 0;
        left: 0;
        right: 0;
      }
    }

    > div {
      display: inline-block;
      padding: 0 13px 0 11px;

      //&:hover {
      //  .fa {
      //    color: $nav-link-border;
      //  }
      //}
    }

    .fa {
      width: 15px;
      height: 20px;
      text-align: center;
      color: $nav-link-border;
    }

    .fa-sort-desc {
      position: relative;
      top: -3px;
    }
  }

  .ct-reports-chart-title {
    background: #ffffff;
    padding: 20px;
    font-size: 22px;
  }

  .ct-btn-block {
    height: 24px;
    width: 49%;
    display: inline-block;
    position: relative;
    top: 9px;
    //border-left: 1px solid $border-сolor;
    //right: 36%;
    //position: absolute;
    //top: 43px;
    //margin-right: 10px;

    [class *="-button"] {
      position: relative;
      top: 4px;
      display: inline-block;
      margin: 0 8px;
      cursor: pointer;

      &:before {
        display: inline-block;
        content: '';
        height: 20px;
        width: 18px;
      }
    }

    .ct-columns-multiselect {
      position: relative;
      left: 5px;

      .ct-multiselect {
        position: absolute;
        left: 0;
        top: 3px;
        height: 100%;
        background: none;
        border: 0;
      }

      .ct-select {
        display: none;
      }
    }

    .ct-export-as {
      position: relative;
      display: inline-block;

      .ct-actions-drop-menu {
        top: 16px;
        background: #fff;
      }
    }
  }

  .ct-report-filters-block {
    .ct-filter-label {
      margin-left: 0;
      font-family: inherit;
      font-size: 12px;
      text-transform: uppercase;
      color: $main-blue;
      height: 18px;
      display: block;
    }
  }

  .ct-report-filters {
    > .ct-btn-block:nth-child(2) {
      text-align: right;
    }

    .ct-report-filters-block {
      &:first-child {
        margin: 0;
      }

      .ct-multiselect {
        background: none;

        .ct-select {
          margin-bottom: 2px;
        }
      }
    }



    .ui-multiselect {
      vertical-align: middle;
      width: 170px !important;
      margin-right: 8px;
      border: none;

      .ct-select {
        padding: 0 15px 0 10px;
      }
    }

    .ct-select {
      width: 170px;
      height: $fieldHeight;
      border-color: transparent;
      line-height: $fieldHeight;

      .ct-select-selected-options-text {
        font-size: $baseFont;
      }
    }

    .ct-select-component {
      display: inline-block;
      margin: -2px 8px 0 -3px;
      vertical-align: middle;
      height: $fieldHeight;
      line-height: $fieldHeight;

      .mat-list-item-content {
        font-size: $baseFont;
      }
    }

    .ct-close {
      float: right;
      line-height: 50px;
      margin-right: 20px;
    }
  }

  .ct-button.ct-white-button {
    background: white;
    color: $nav-link-border;
    margin-right: 8px;
  }

  .ct-reports-grid {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &:first-child {
      margin-top: 70px;
    }

    .ui-datatable-thead:after {
      width: 100%;
      left: 0;
      bottom: 0;
      height: 2px;
    }

    .ui-datatable-thead {
      display: none;
    }
  }

  .ct-grid-header {
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    text-transform: uppercase;
    background: $blue-grid-header !important;
    border-bottom: 1px solid #e1e6ed;

    > div {
      display: inline-block;

      &:not(.ct-report-header-right) {
        float: left;
      }

      span {
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 400px;
        color: $nav-link-border;
        font-weight: 700;
      }
    }

    .ct-report-header-right {
      float: right;

      > div {
        display: inline-block;
      }
    }

    .ct-total-hours-tracked, .ct-total-hours-planned {
      position: relative;
      margin-left: 63px;

      &:before {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        top: -8px;
        left: -30px;
      }
    }

    .ct-total-hours-tracked {
      &:before {
        background: url(./assets/icons/tasktile.time.actual.svg) no-repeat center center;
        background-size: 23px 23px;
      }
    }

    .ct-total-hours-planned {
      &:before {
        background: url(./assets/icons/tasktile.time.estimated.svg) no-repeat center center;
        background-size: 23px 23px;
      }
    }
  }

  .ct-grid-container {
    margin-top: 40px;
    h3 {
      font-weight: 400;
      margin-bottom: 5px;
    }

    .ui-datatable-tablewrapper table {

      thead {
        border-top: 0;
        border-bottom: 2px solid $border-сolor;

        th {
          padding: 10px 8px;
        }
      }

      td:last-child {
        text-align: left;
      }
    }

    .ct-cell-date {
      width: 110px;
    }
    .ct-cell-client {
      width: 130px;
    }
    .ct-cell-user {
      width: 150px;
    }
    .ct-cell-task {
      width: 380px;
    }
    .ct-cell-start {
      width: 150px;
    }

    .ct-cell-actual {
      .ct-total-hours-tracked {
        padding-left: 10px;
      }
    }
    //
    //.ct-cell-project, .ct-cell-client, .ct-cell-user, .ct-cell-task {
    //  width: 220px;
    //}
    //
    //.ct-cell-actual, .ct-cell-estimated, .ct-cell-start, .ct-cell-finish {
    //  width: 100px;
    //}

    //@media (max-width: 1600px) {
    //  .ct-cell-actual, .ct-cell-estimated, .ct-cell-start, .ct-cell-finish {
    //    width: 90px;
    //  }
    //
    //  .ct-cell-project, .ct-cell-client, .ct-cell-user, .ct-cell-task {
    //    width: 150px;
    //  }
    //}
  }

  ct-range-datepicker {
    position: absolute;
    top: 31px;
    width: 280px;
    text-align: center;
    background: #fff;
    box-shadow: none;
    border: 1px solid $form-border;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s;
    padding: 0 10px;

    &.ct-datepicker-opened {
      opacity: 1;
    }

    #datepicker {
      border: 1px solid transparent !important;
    }
  }

  .ct-hot-links-container {
    margin-top: 20px;
    line-height: 12px;
    text-align: center;

    li {
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      height: 22px;
      width: 25%;
      text-align: center;

      a {
        border-bottom: 1px dotted;
      }

      &:hover {
        color: $nav-link-border;
      }
    }
  }

  .ct-nodata {
    margin-top: 15px;
    font-family: inherit;
  }
}

.ct-send-reports-dialog {
  .ct-link-text {
    margin: 10px 5px 0 0;
  }

  .ct-form {
    margin: 20px 0;
  }

  .ct-table {
    width: 100%;

    td {
      padding: 5px 0;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        width: 15px;
      }
    }
  }
}

.ct-report-filters-block {
  label {
    display: block;
  }
  > div {
    display: inline-block;
    width: 148px !important;
  }

  > div:nth-child(3) {
    margin: 0 15px;
  }

  .ct-select {
    line-height: 35px;
    padding-left: 5px;
  }

}

.ct-reports-chart-container {
  width: 35%;
  position: fixed;
  display: inline-block;
  right: 20px;
  z-index: 994;
  box-sizing: border-box;

  .mat-expansion-panel-header {
    height: 46px !important;
    background: $blue-grid-header !important;
    border-bottom: 1px solid #e1e6ed;
  }

  .mat-expansion-panel-body {
    margin-top: 20px;

    >.ct-report-filters-block:nth-child(1) {
      >label {
        position: relative;
        top: -4px;
      }
    }
  }

  img {
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
  }
}

.ct-reports-grid-container {
  width: 64%;
  display: inline-block;
}