<ct-timer [calendar]="calendar"></ct-timer>
<div class="ct-calendar" (window:resize)="onResize($event)">
    <ct-calendar-day *ngFor="let dayInfo of calendar; let i = index"
                     class="ct-calendar-day"
                     [class.ct-calendar-day-active]="false"
                     [@slideCalendar]="animationState"
                     [@.disabled]="animationDisabled"
                     [animationDelay]="animationDelayArray[i]"
                     [dayInfo]="dayInfo">
    </ct-calendar-day>
</div>