<!DOCTYPE html>
<html>
<head>
    <title>CoralTime tracker</title>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="ct-coraltime">
    <form autocomplete="off">
        <div class="ct-date-container">
            <label>Date</label>
        </div>
        <div class="ct-task-container">
            <label>Task</label>
        </div>
        <div class="ct-description-container">
            <label for="recordDescription">Description</label>
            <textarea class="ct-textarea" id="recordDescription"
                      name="description"
                      maxlength="1000"
                      rows="5"></textarea>
        </div>
        <div class="ct-time-period-container">
            <div class="ct-actual-time">
                <label>Actual time</label>
                <div class="ct-actual-time-hours">h</div>
                <div class="ct-actual-time-minutes">m</div>
            </div>
            <!--<button type="button" *ngIf="!isEstimatedTimeShown"-->
            <!--class="ct-show-input ct-estimated-time-button"-->
            <!--(click)="isEstimatedTimeShown = !isEstimatedTimeShown">Estimate-->
            <!--</button>-->
            <!--<div *ngIf="isEstimatedTimeShown" class="ct-estimated-time">-->
            <!--<i class="ct-icon ct-timeestimated-icon" title="Planned time"></i>-->
            <!--<input name="timeEstimatedHours" autocomplete="off">h-->
            <!--<input name="timeEstimatedMinutes" autocomplete="off">m-->
            <!--</div>-->
        </div>
        <div class="ct-form-actions-container">
            <button type="button" class="ct-submit-button" id="recordSubmit">Submit</button>
        </div>
    </form>
</div>
<script src="lib/VSS.SDK.min.js"></script>
<script type="text/javascript">
    VSS.init(
        {
            explicitNotifyLoaded: true,
            usePlatformScripts: true
        }
    );

    VSS.require(["dist/timeEntryForm"], () => {
    });
</script>
</body>
</html>