<!DOCTYPE html>
<html>
<head>
    <title>CoralTime tracker</title>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="widget coraltime">
    <form class="formContent">
        <div class="ct-date">
            <input class="ct-input" id="recordDate"
                   name="date"
                   type="date"
                   required>
        </div>
        <div class="ct-project">
            CoralMSP
        </div>
        <div class="ct-task">
            <select class="ct-select" id="recordTask"
                    name="task"
                    required>
                <option value="1">Coding</option>
                <option value="2">Test</option>
            </select>
        </div>
        <textarea class="ct-description" id="recordDescription"
                  name="description"
                  placeholder="Add task details"
                  maxlength="1000"></textarea>
        <div class="ct-time-period">
            <div class="ct-actual-time">
                <i class="ct-icon ct-timeactual-icon" title="Tracked time"></i>
                <input name="timeActualHours"
                       type="number"
                       autocomplete="off"
                       value="00">h
                <input name="timeActualMinutes"
                       type="number"
                       autocomplete="off"
                       value="00">m
            </div>
            <!--<button type="button" *ngIf="!isEstimatedTimeShown"-->
            <!--class="ct-show-input ct-estimated-time-button"-->
            <!--(click)="isEstimatedTimeShown = !isEstimatedTimeShown">Estimate-->
            <!--</button>-->
            <!--<div *ngIf="isEstimatedTimeShown" class="ct-estimated-time">-->
            <!--<i class="ct-icon ct-timeestimated-icon" title="Planned time"></i>-->
            <!--<input name="timeEstimatedHours" autocomplete="off">h-->
            <!--<input name="timeEstimatedMinutes" autocomplete="off">m-->
            <!--</div>-->
        </div>
        <div class="ct-form-actions">
            <button type="button" class="ct-submit-button" id="recordSubmit">Submit</button>
        </div>
    </form>
</div>
<script src="lib/VSS.SDK.min.js"></script>
<script type="text/javascript">
    VSS.init(
        {
            explicitNotifyLoaded: true,
            setupModuleLoader: true,
            usePlatformScripts: true
        }
    );

    VSS.require(["dist/timeEntryService", "dist/configuration", "dist/main"], function (teamEntryService) {
        VSS.getAppToken().then((token) => {
            console.log("getAppToken - ", token);
        });

        VSS.notifyLoadSucceeded();
    });
</script>
</body>
</html>