<ct-enter-new-password-form *ngIf="!isPasswordChanged" (newPasswordSubmitted)="displayNewPasswordChangedMessage($event)"></ct-enter-new-password-form>

<div *ngIf="isPasswordChanged" class="ct-login-form ct-set-password-form-6">
    <div class="ct-nav-title1">Coral Time <span class="ct-logo-sm"></span></div>

    <div class="ct-help-text">
        Your password was changed.
    </div>

    <div class="ct-login-links">
        <div class="ct-add-link"><a [routerLink]="['/login']">Back to login page</a></div>
    </div>
</div>