<div class="ct-dialog ct-dialog-add ct-project-dialog">
    <div class="ct-dialog-title">
        <span>{{dialogHeader}}</span><span *ngIf="project.id">{{ project.name }}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <form class="ct-form-add">
        <div class="ct-form-block">
            <div>
                <label class="ct-form-label">Project Name</label>
                <div class="ct-required-field-container ct-project-name-container">
                    <input class="ct-input ct-full-width" name="name"
                           [(ngModel)]="model.name"
                           (ngModelChange)="showNameError = false"
                           maxlength="200" required autofocus/>
                </div>
                <div *ngIf="showNameError && !model.name" class="ct-error-text">Project name is required.</div>
                <div *ngIf="showNameError && model.name" class="ct-error-text">Project with this name already exists</div>
            </div>

            <div *ctIsGranted="'roleChangeProjectStatus'">
                <div *ngIf="project.id">
                    <label class="ct-form-label">Project Status</label>
                    <ct-select [name]="'state'" [disabled]="!model.clientIsActive && model.clientId"
                               [displayName]="'title'" [trackBy]="'value'"
                               [(ngModel)]="stateModel"
                               (ngModelChange)="stateOnChange()"
                               [options]="states">
                    </ct-select>
                    <div *ngIf="model.clientIsActive || !model.clientId" class="ct-info-message">
                        {{stateText}}
                    </div>
                    <div *ngIf="!model.clientIsActive && model.clientId" class="ct-info-message">
                        Cannot change the project status because its client is archived.
                    </div>
                </div>
            </div>

            <div>
                <label class="ct-form-label">Color</label>
                <ct-color-picker [name]="'color'"
                                 [(ngModel)]="model.color"
                                 [options]="[0,1,2,3,4,5,6,7]">
                </ct-color-picker>
            </div>

            <div>
                <label class="ct-form-label">Client</label>
                <ct-select [name]="'client'"
                           [displayName]="'name'" [trackBy]="'id'"
                           [defaultValue]="defaultClientName"
                           [(ngModel)]="clientModel"
                           (ngModelChange)="clientOnChange()"
                           [options]="clients"
                           [disabled]="isClientSelectDisabled">
                </ct-select>
            </div>

            <div>
                <label class="ct-form-label">Description</label>
                <ct-textarea [name]="'description'" [maxlength]="500" [(ngModel)]="model.description"></ct-textarea>
            </div>
        </div>

        <div class="ct-buttons-block" mat-dialog-actions>
            <button mat-raised-button class="ct-button ct-blue-button"
                    [disabled]="isRequestLoading"
                    (click)="validateAndSubmit()">
                {{submitButtonText}}
            </button>
            <button mat-dialog-close class="ct-cancel-button">Cancel</button>
        </div>
    </form>
</div>