<form #entryTimeForm="ngForm" ctEntryTimeFilled
      class="ct-form-container ct-container-color"
      [ngStyle]="{color: numberToHex(currentTimeEntry.color)}">
    <!--Added to allow form be focused-->
    <input class="ct-input-hidden-control" autofocus>
    <div class="ct-title">
        <ct-select *ngIf="projectList?.length > 1" [class.ct-archived]="isArchivedProjectShown()"
                   [name]="'project'"
                   [defaultValue]="!isArchivedProjectShown() ? timeEntry.projectName : timeEntry.projectName + ' (archived)'"
                   [displayName]="'name'" [trackBy]="'id'"
                   [maxHeight]="formHeight - 114"
                   [(ngModel)]="projectModel"
                   (ngModelChange)="projectOnChange(projectModel)"
                   [required]="!currentTimeEntry.id"
                   [options]="projectList">
        </ct-select>
        <div *ngIf="projectList?.length <= 1" class="ct-project"
             [title]="currentTimeEntry.projectName">{{currentTimeEntry.projectName}}
        </div>
    </div>
    <div class="ct-task-name">
        <ct-select [name]="'task'"
                   [class.ct-archived]="isArchivedTaskShown()"
                   [class.ct-loading]="isTasksLoading"
                   [defaultValue]="!isArchivedTaskShown() ? timeEntry.taskName : timeEntry.taskName + ' (archived)'"
                   [displayName]="'name'" [trackBy]="'id'"
                   [maxHeight]="formHeight - 172"
                   [(ngModel)]="taskModel"
                   (ngModelChange)="taskOnChange(taskModel)"
                   [required]="!currentTimeEntry.id"
                   [options]="taskList">
        </ct-select>
    </div>
    <ct-textarea class="ct-description-block"
                 [name]="'description'"
                 [placeholder]="'Add task details'"
                 [maxlength]="1000"
                 [canResize]="true"
                 [(ngModel)]="currentTimeEntry.description"
                 (ngModelChange)="descriptionOnChange()"></ct-textarea>
    <div class="ct-time-period">
        <button type="button" *ngIf="!currentTimeEntry.timeOptions.isFromToShow"
                class="ct-show-input ct-from-to-form-button"
                (click)="openFromToForm()">From & To
        </button>
        <div *ngIf="currentTimeEntry.timeOptions.isFromToShow" class="ct-from-to-form">
            <div class="ct-from-time">
                <label class="ct-label">From</label>
                <input name="timeFromHours" autocomplete="off" [ctTime]="24" [ctFocus]="timeFromMinutes"
                       [(ngModel)]="timeFrom.hours"
                       [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                       (timeChanged)="validateFromToForm()">:
                <input name="timeFromMinutes" autocomplete="off" [ctTime]="60" #timeFromMinutes
                       [(ngModel)]="timeFrom.minutes"
                       [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                       (timeChanged)="validateFromToForm()">
            </div>
            <div class="ct-to-time">
                <label class="ct-label">To</label>
                <input name="timeToHours" autocomplete="off" [ctTime]="24" [ctFocus]="timeToMinutes"
                       [(ngModel)]="timeTo.hours"
                       [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                       (timeChanged)="validateFromToForm()">:
                <input name="timeToMinutes" autocomplete="off" [ctTime]="60" #timeToMinutes
                       [(ngModel)]="timeTo.minutes"
                       [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                       (timeChanged)="validateFromToForm()">
            </div>
            <button type="button" class="ct-icon ct-times-icon" (click)="closeFromToForm()"></button>
        </div>
        <div class="ct-actual-time">
            <i class="ct-icon ct-timeactual-icon" title="Tracked time"></i>
            <input name="timeActualHours" autocomplete="off" [ctTime]="24" [ctFocus]="timeActualMinutes"
                   [(ngModel)]="timeActual.hours"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (timeChanged)="timeActualOnChange()">h
            <input name="timeActualMinutes" autocomplete="off" [ctTime]="60" #timeActualMinutes
                   [(ngModel)]="timeActual.minutes"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (timeChanged)="timeActualOnChange()">m
        </div>
        <button type="button" *ngIf="!isEstimatedTimeShown"
                class="ct-show-input ct-estimated-time-button"
                (click)="isEstimatedTimeShown = !isEstimatedTimeShown">Estimate
        </button>
        <div *ngIf="isEstimatedTimeShown" class="ct-estimated-time">
            <i class="ct-icon ct-timeestimated-icon" title="Planned time"></i>
            <input name="timeEstimatedHours" autocomplete="off" [ctTime]="24"
                   [(ngModel)]="timeEstimated.hours"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (ngModelChange)="timeEstimatedOnChange()">h
            <input name="timeEstimatedMinutes" autocomplete="off" [ctTime]="60"
                   [(ngModel)]="timeEstimated.minutes"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (ngModelChange)="timeEstimatedOnChange()">m
        </div>
    </div>
    <div class="ct-form-actions">
        <button mat-button class="ct-blue-button"
                (click)="submit()"
                [disabled]="entryTimeForm.invalid || isRequestLoading || !currentTimeEntry.projectId">Done
        </button>
        <button type="button" class="ct-close" (click)="closeForm()" ctClickClose>Cancel</button>
    </div>
</form>