<div class="ct-grid-search-filter">
    <input class="ct-input-element" #gb placeholder="Search tasks..." [(ngModel)]="filterStr">
    <i class="fa fa-search"></i>
</div>

<div #pageContainer class="ct-page-container ct-tasks-page">
    <div class="ct-manage-grid-header">
        <div class="ct-page-tabs">
            <a (click)="toggleTab(true)" [class.ct-active-tab]="isActiveTab">Active Tasks</a>
            <a (click)="toggleTab(false)" [class.ct-active-tab]="!isActiveTab">Archived Tasks</a>
        </div>
        <div (click)="openTaskDialog()" class="ct-add-link">
            <a class="ct-manage-add">Create New task</a>
        </div>
    </div>

    <div class="ct-data-table-wrapper" (window:resize)="onResize()">
        <p-dataTable class="ct-grid-container ct-table"
                     [value]="pagedResult?.data"
                     [resizeObservable]="resizeObservable"
                     scrollable="true" [sortField]="'name'"
                     [responsive]="true" [lazy]="true"
                     [globalFilter]="gb"
                     (onLazyLoad)="loadLazy($event)"
                     (onMoreContent)="loadLazy()"
                     (onEndScrollEvent)="onEndScroll()">
            <p-column [style]="{'width':'450px'}" field="name" header="Task" [sortable]="true">
                <ng-template let-col let-task="rowData" pTemplate="body">
                    <span (click)="openTaskDialog(task)" class="ct-grid-link-text" title="{{task.name}}">{{task.name}}</span>
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'250px'}" field="projectId" header="Task Type" [sortable]="true">
                <ng-template let-col let-task="rowData" pTemplate="body">
                    <span *ngIf="task.projectId">custom</span>
                    <span *ngIf="!task.projectId">general</span>
                </ng-template>
            </p-column>

            <p-column field="description" header="Description" styleClass="ct-column-description">
                <ng-template let-col let-task="rowData" pTemplate="body" let-index="rowIndex">
                    <div class="ct-grid-description">
                        <ct-read-more [text]="task.description"></ct-read-more>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>