@import 'errors';
@import 'login';
@import '../view/navigation';
@import 'projects/projects';
@import 'users/users';
@import 'calendar/calendar';
@import 'calendar/entry-time-form';
@import 'reports/reports';
@import 'profile/profile';

html, body {
  height: 100%;
}

.ct-wrapper {
  height: 100%;
  background: $gray-page-background;
}

.ct-content {
  padding: $nav-height 20px 0;
  background: $gray-page-background;
  overflow-x: hidden;
}

.ct-page-container {
  position: relative;
  min-height: 100%;
}

.ct-page-header {
  position: relative;
  line-height: 35px;
  height: 35px;
  margin: 23px 0;
  font-size: 14px;
  font-weight: 700;

  .ct-add-link {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
}

.ct-page-tabs {
  display: inline-block;
  position: relative;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  line-height: 31px;

  > a {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    color: $main-grey;
    text-transform: capitalize;
    cursor: pointer;

    &:last-child {
      margin-left: -1px;
    }

    &:hover, &.ct-active-tab {
      color: #353a4e;
      background: $gray-page-background;
    }
  }
}

.ct-manage-add {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: #353a4e;
  cursor: pointer;

  &:before, &:after {
    position: absolute;
    content: '';
    left: 7px;
    top: 10px;
    width: 2px;
    height: 16px;
    background: $main-blue;
  }

  &:after {
    height: 2px;
    width: 16px;
    left: 0;
    top: 17px;
  }

  :hover > & {
    color: $main-blue;
  }
}

.ct-impersonation-header {
  width: 100%;
  height: 50px;
  position: fixed;
  background: $impers-header;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  top: 0;

  .ct-impersonation-user {
    font-weight: 700;
  }

  .ct-impersonation-stop {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
  }
}

.ct-impersonation-header + .ct-wrapper {
  padding-top: 50px;
  height: calc(100% - 50px);

  .ct-calendar-page {
    .ct-page-header {
      top: 113px;
    }

    .ct-calendar-day-title {
      top: 195px;
    }

    .ct-calendar-day-container {
      min-height: calc(100vh - 200px);
    }
  }

  .ct-reports-sidebar {
    top: 114px;
  }

  .ct-grid-container .ui-datatable-scrollable-body {
    max-height: calc(100vh - 304px);
  }

  .ct-profile .ct-user-settings {
    min-height: calc(100vh - 215px);
  }
}

.ct-admin-page button {
  margin: 20px 15px 20px 0;
}

.ct-integration-page .ct-blue-button,
.ct-admin-page .ct-blue-button {
  height: 35px;
}