$titleDay: #aab2c0;
$titleDate: #374456;
$titleDayHeight: 145px;

$plannedTime: #8994b3;

.ct-calendar-page {
  .ct-page-header {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 7;

    &:before {
      position: absolute;
      top: -23px;
      left: 0;
      width: 100%;
      height: 81px;
      content: '';
      background: $gray-page-background;
    }
  }

  .ct-page-tabs {
    display: inline-block;
    position: relative;

    > a {
      display: inline-block;
      text-transform: capitalize;
      cursor: pointer;
      color: $main-grey;
      padding: 0 20px;

      &:hover, &.ct-active-tab {
        color: #353a4e;
      }
    }
  }

  .ct-day-tab a {
    width: 60px;
  }

  .ct-week-tab a {
    width: 90px;
  }

  .ct-calendar-periods {
    margin-left: 60px;

    a {
      padding: 0 20px;
      white-space: nowrap;
      text-align: center;

      i {
        position: absolute;
        top: 6px;
      }

      &:first-child {
        padding-left: 35px;

        i {
          left: 0;
        }
      }

      &:last-child {
        padding-right: 35px;

        i {
          right: 0;
        }
      }
    }

    @media (min-width: 810px) and (max-width: 1380px) {
      margin-left: 40px;

      a {
        padding: 0 15px;
      }
    }
  }
}

.ct-calendar-projects {
  float: right;
  width: 140px;

  .ct-multiselect {
    position: relative;
    vertical-align: top;
  }

  .ct-multiselect .mat-select-value-text {
    padding: 0 25px 0 10px;
    color: $nav-link-hover;

    .fa {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }

  .ct-select {
    border: none;
    border-radius: 5px;
    text-align: center;

    .mat-select-trigger {
      font-family: inherit;

      .mat-select-value-text {
        font-family: inherit;
        line-height: 19px;
      }
    }

    .mat-select-arrow {
      display: none;
    }
  }
}

.ct-calendar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  margin: 81px -5px 0;
  overflow-x: hidden;

  > * {
    display: flex;
    flex: 0 0 auto;
  }
}

.ct-calendar-day {
  box-sizing: border-box;

  &:hover {
    .ct-calendar-add-task > div {
      opacity: .5;
    }
  }
}

.ct-calendar-day-title {
  position: relative;
  background-color: $calendarTaskColor;
  display: block;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  z-index: 100;
}

.ct-calendar-task-stop-timer {
  bottom: 10px;
  width: 88px;
  height: 36px;
  background: transparent;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  border-radius: 18px;
  left: 15px;
}

.ct-calendar-date {
  height: 44px;
  line-height: 44px;
  white-space: nowrap;

  .ct-date-number {
    margin-right: 2px;
    font-size: 36px;
    font-weight: 700;
    color: #2d3e50;
  }

  .ct-today {
    position: absolute;
    top: 8px;
    letter-spacing: .1px;
    font-size: 11px;
    font-weight: 700;
    color: $main-blue;
  }

  .ct-date-value {
    font-size: 16px;
    color: #aab2c0;
  }
}

.ct-calendar-day-hours {
  margin-top: 38px;
  max-width: 160px;
}

.ct-calendar-hours-planned,
.ct-calendar-hours-tracked {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  color: $main-blue;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background: url(./assets/icons1/time.svg) no-repeat center;
  }
}

.ct-calendar-hours-planned {
  color: $main-grey;
  float: right;

  &:before {
    background: url(./assets/icons1/est-time.svg) no-repeat center;
  }
}

.ct-calendar-day-container {
  min-height: calc(100vh - 150px);
  width: 100%;
}

.ct-calendar-task {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 30px 20px;
  background: $calendarTaskColor;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.08);
  border-radius: 5px;
  margin-bottom: 6px;
}

.ct-lock-icon {
  position: absolute;
  right: 3px;
  top: 3px;
  color: $titleDay;
  z-index: 1;
  cursor: pointer;
}

.ct-calendar-time-entry-container {
  &.ct-lock-overlay {
    .ct-calendar-time-entry-title {
      color: $titleDay;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% + 11px);
      width: 100%;
      content: '';
      background: rgba(255, 255, 255, .5);
    }
  }

  > div {
    transition: height .3s;
    position: relative;
    overflow: hidden;

    &:first-child {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 17px;
        background: linear-gradient(to top, rgba($nav-background, 1), rgba($nav-background, 0));
      }
    }
  }
}

.ct-calendar-time-entry-title {
  display: inline-block;
  max-width: calc(100% - 30px);
  line-height: 23px;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 14px;
}

.ct-calendar-time-entry-type {
  margin-top: 10px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: #2d3e50;
  font-weight: 700;
}

.ct-calendar-time-entry-description {
  box-sizing: border-box;
  margin-top: 12px;
  max-height: calc(100% - 65px);
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
  font-size: 14px;
  line-height: 17px;
  color: #728096;
}

.ct-calendar-time-entry-period {
  margin-bottom: 10px;
  line-height: 15px;
  font-size: 12px;
  color: #728096;
  overflow: hidden;
}

.ct-calendar-time-entry-time {
  margin-top: 18px;

  > div {
    font-size: 14px;
  }
}

.ct-clock {
  top: 7px;
  left: 9px;
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 30px;

  &:before {
    content: "";
    margin-left: 9px;
    margin-top: -5px;
    width: 2px;
    height: 5px;
    display: block;
    background: #fff;
  }

  &:after {
    transform: rotate(30deg);
    content: "";
    margin-left: 14px;
    margin-top: -3px;
    width: 2px;
    height: 3px;
    display: block;
    background: #fff;
  }

  @keyframes ClockRotate {
    0% {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(359deg)
    }
  }

  i {
    position: absolute;
    background: url(./assets/icons/tick.png) no-repeat;
    background-size: 4px 13px;
    display: block;
    width: 4px;
    height: 13px;
    top: 0;
    left: 7px;
    -webkit-transform-origin: 2px 9px;
    transform-origin: 2px 9px;
    animation: ClockRotate 10s linear;
    animation-iteration-count: infinite;
  }
}

.ct-timer-block {
  position: relative;
  display: inline-block;
  padding: 8px 8px 8px 33px;
  background-color: $main-blue;
  border-radius: 20px;
  line-height: 19px;

  span {
    display: inline-block;
    width: 47px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    position: relative;
    top: 1px;
  }
}

.ct-menu-open-link {
  position: absolute;
  right: 5px;
  top: 12px;
  cursor: pointer;
  color: #cfd4e0;
  border-radius: 2px;
  z-index: 1;
}

.ct-calendar-task:hover .ct-menu-open-link,
.ct-menu-open-link.ct-menu-opened {
  color: $main-grey;
  background-color: $gray-page-background;
}

.ct-calendar-add-task {
  display: inline-block;
  position: relative;
  height: 72px;
  line-height: 72px;
  width: 100%;
  transition: opacity ease .3s;

  .ct-direction-top.ct-open-right {
    .ct-form-container {
      &:before,
      &:after {
        top: auto;
      }
    }
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 2px dotted $main-grey;
    border-radius: 5px;
    font-size: 14px;
    color: $main-grey;
    letter-spacing: .2px;
    text-align: center;
    opacity: 0;
    cursor: pointer;

    &:before {
      display: inline-block;
      content: '+';
      font-size: 28px;
      margin-right: 14px;
      vertical-align: top;
    }
  }

  .ct-calendar-day-active & > div {
    opacity: .5;
  }

  &.ct-form-opened > div, &:hover > div {
    color: $main-blue;
    border: 2px solid $main-blue;
    opacity: 1 !important;
  }
}

.ct-calendar-day-tasks {
  position: relative;
  margin-top: $titleDayHeight + 10px;
  padding: 0 5px 5px;
}

.ct-calendar-weekly-view {
  .ct-calendar {
    position: relative;

    &:after {
      position: fixed;
      left: 20px;
      background: $nav-background;
      content: '';
      width: calc(100% - 40px);
      height: $titleDayHeight;
      box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.08);
    }
  }

  .ct-calendar-day {
    width: calc(100% / 7);

    @media (max-width: $calendarTabletWidth) {
      width: 25%;
    }
  }

  .ct-calendar-day-title {
    position: fixed;
    top: $titleDayHeight;
    width: calc((100% - 100px) / 7);
    background: $nav-background;
    padding: 15px 20px 30px;
    margin-left: 5px;

    @media (min-width: 1300px) and (max-width: 1380px) {
      padding: 15px 15px 30px;
    }

    @media (max-width: $calendarTabletWidth) {
      width: calc(25% - 17.5px);
    }
  }

  .ct-calendar-day-active {
    .ct-calendar-day-title {
      background: $gray-page-background;
    }
  }

  @media (max-width: $calendarPhoneWidth) {
    .ct-calendar-day {
      width: 100%;

      .ct-calendar-day-title {
        width: calc(100% - 40px);
      }
    }
  }
}

.ct-calendar-daily-view .ct-calendar {
  .ct-calendar-day {
    width: 100%;

    .ct-calendar-day-title {
      position: fixed;
      width: calc(100% - 40px);
      margin-top: 30px;
    }

    .ct-calendar-day-tasks {
      display: inline-block;
      width: calc(100% + 6px);
      margin: 10px + $titleDayHeight -3px 0;
      padding-bottom: 50px;
    }

    .ct-calendar-task {
      width: calc(100% / 7 - 36px / 6);
      float: left;
      margin: 5px 3px 0;

      @media (max-width: $calendarTabletWidth) {
        width: calc(25% - 6px);
      }

      @media (max-width: $calendarPhoneWidth) {
        width: calc(100% - 6px);
      }
    }

    .ct-calendar-add-task {
      position: absolute;
      bottom: -12px;
      left: 3px;
      width: calc(100% - 6px);
    }

    .ct-fake-task {
      display: none;
    }
  }
}

.ct-fake-task {
  background: $gray-page-background;
  height: 0;
  transition: height linear .2s;
}

.ct-dragged-task {
  opacity: .6;
}

.ct-total-tracked-time {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1001;
  margin: auto;
  width: 252px;
  padding-left: 44px;
  line-height: 44px;
  border-radius: 32px;
  box-sizing: border-box;
  background: url(./assets/icons1/play-circle.svg) no-repeat $gray-page-background;

  .ct-hours-tracked,
  .ct-hours-planned {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-left: 44px;

    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      top: 1px;
      left: -24px;
    }
  }

  .ct-hours-tracked {
    color: $main-blue;

    &:before {
      background: url(./assets/icons1/time.svg) no-repeat center;
    }
  }

  .ct-hours-planned {
    color: $plannedTime;
    opacity: .6;

    &:before {
      background: url(./assets/icons1/est-time.svg) no-repeat center;
    }
  }

  @media (max-width: $calendarTabletWidth) {
    width: 200px;
    top: 13px;
    background-size: 36px;
    padding-left: 40px;
    line-height: 36px;

    .ct-hours-tracked, .ct-hours-planned {
      margin-left: 30px;
    }
  }
}

.ct-impersonation-header + .ct-wrapper .ct-total-tracked-time {
  top: 60px;

  @media (max-width: $calendarTabletWidth) {
    top: 63px;
  }
}

.ui-multiselect-panel.ct-impersonate .ui-multiselect-panel {
  margin-top: 50px;
}

.ct-calendar-multiselect.ui-multiselect-panel {
  position: fixed;

  > div {
    position: fixed;
    top: 127px !important;
    right: 19px;
    font-family: inherit;
  }
}

.ct-submenu {
  .ct-menu {
    right: calc(100% + 8px);
    top: -14px;
    font-size: 14px;
    line-height: 28px;

    &.ct-menu-opened {
      .ct-menu-content {
        box-shadow: none;
      }

      &:after {
        position: absolute;
        content: '';
        top: 24px;
        right: -30px;
        border: 16px solid transparent;
        border-left: 16px solid #fff;
        z-index: 1;
      }
    }
  }

  .ct-menu-content {
    box-shadow: none;
    padding: 0;
  }
}

.ng-animating {
  &.ct-calendar-day {
    z-index: 1;
  }

  .ct-calendar-add-task {
    opacity: 0;
  }
}
