$formPadding: 20px;
$selectHeight: 42px;
$inactiveText: #333333;

ct-entry-time {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.ct-entry-time-form {
  position: absolute;
  top: 0;
  width: 350px;
  max-width: 100vw;
  visibility: hidden;
  opacity: 0;
  z-index: 1001;
  transition: opacity .3s;
  font-family: inherit;
  line-height: initial;
  display: none;
  box-shadow: 0 4px 50px 0 rgba(37, 38, 94, 0.1);

  // Entry Time Form displaying

  &.ct-open {
    opacity: 1;
    visibility: visible;
    display: inline-block;
  }

  &.ct-open-right {
    left: 105%;
  }

  &.ct-open-left {
    right: 105%;

    .ct-form-container {
      &:after {
        border-right-color: transparent;
        border-left-color: $calendarTaskColor;
        left: auto;
        right: -30px;
      }
    }
  }

  &.ct-open-mobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    margin: auto;
    overflow: auto;
    max-height: 100vh;

    .ct-form-actions {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      max-width: 290px;
      margin: auto;

      &:before {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 78px;
        content: '';
        background: #fff;
      }
    }

    .ct-form-container {
      padding-bottom: 52px;
    }
  }

  &.ct-direction-top {
    top: auto;
    bottom: 0;

    .ct-form-container {
      &:after {
        top: auto;
        bottom: 18px;
      }
    }
  }

  // Shared styles

  .mat-button {
    font-family: inherit;
  }

  .ct-select-component {
    height: $selectHeight;

    .ct-select {
      height: $selectHeight;
      border: 0;
      border-bottom: 1px solid $gray-page-background;
    }

    .ct-select-selected-options-text {
      line-height: $selectHeight;
      height: $selectHeight;
      padding-left: 0;
    }

    [class *= "fa-angle"] {
      right: 0;
    }
  }

  // General styles

  .ct-form-container {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    padding: 5px 30px $formPadding;
    background: $calendarTaskColor;
    border-radius: 5px;

    &:after {
      position: absolute;
      width: 0;
      content: '';
      top: 22px;
      left: -32px;
      border: 16px solid transparent;
      border-right: 16px solid $calendarTaskColor;
    }
  }

  .ct-title {
    .ct-project {
      height: 42px;
      border-bottom: 1px solid $gray-page-background;
      font-size: 14px;
      font-weight: 700;
      color: $grid-text;
      line-height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ct-textarea-component {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid $gray-page-background;
  }

  .ct-task-name {
    margin: 15px 0;
  }

  .ct-task-description {
    min-height: 40px;
    max-height: 115px;
    padding-right: 10px;
  }

  .ct-time-period {
    margin: 20px -30px;
    padding: 20px 30px;
    background: $main-blue;

    > div {
      width: 50%;
      box-sizing: border-box;
      font-size: 18px;
      color: #fff;
      display: inline-block;

      &.ct-actual-time {
        position: relative;

        &:after {
          position: absolute;
          right: 0;
          top: -2px;
          content: '';
          width: 2px;
          height: 30px;
          background: #3fb7e6;
        }
      }

      &.ct-estimated-time {
        float: right;
        text-align: right;
      }
    }

    .ct-icon {
      margin-right: 2px;
    }

    .ct-show-input {
      height: 26px;
      border-radius: 13px;
      border: solid 2px rgba(127, 207, 238, .5);
      background: none;
      color: #fff;
      font-size: 11px;
      padding: 0 14px;
      cursor: pointer;

      &:hover, &:focus {
        border-color: rgba(127, 207, 238, 1);
      }

      &.ct-from-to-form-button {
        &:before, &:after {
          display: block;
          margin-top: 1px;
          float: left;
          font: normal normal normal 10px FontAwesome;
          text-rendering: auto;
        }

        &:before {
          content: "\f0d9";
        }
        &:after {
          margin: 1px 5px 0 3px;
          content: "\f0da";
        }
      }

      &.ct-estimated-time-button {
        float: right;

        &:before {
          display: inline-block;
          margin: 1px 8px -1px 0;
          content: '';
          width: 10px;
          height: 10px;
          background: url(./assets/icons/estimate-icon.svg) no-repeat center;
        }
      }
    }

    input {
      width: 22px;
      outline: none;
      background: none;
      font-size: 18px;
      text-align: center;
      letter-spacing: .3px;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      color: currentColor;
    }

    [class*="ct-from-to-form"] {
      display: block;
      margin-bottom: 18px;
    }

    .ct-from-to-form {
      position: relative;
      width: 100%;
      height: 26px;
      line-height: 26px;
      font-size: 12px;

      > div {
        display: inline-block;

        &:first-child {
          margin-right: 10px;
        }
      }

      .ct-label {
        margin-right: 5px;
      }

      .ct-times-icon {
        position: absolute;
        right: 0;
        top: 9px;
        opacity: .8;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:focus {
          opacity: 1;
        }
      }

      input {
        width: 18px;
        font-size: 14px;

        &:first-child {
          margin-left: 5px;
        }
      }
    }
  }

  .ct-form-actions {
    overflow: hidden;

    .ct-blue-button {
      float: right;
    }

    .ct-close {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
      transition-duration: .3s;
      top: 13px;

      &:focus {
        color: #374456;
      }
    }
  }

  div.mat-button-focus-overlay {
    background-color: rgba(0, 0, 0, .03);
    transition: opacity .3s;
  }
}

@media (max-width: $calendarPhoneWidth) {
  .ct-bg-mobile:before {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(100, 111, 121, 0.6);
  }
}

.slimscroll-wrapper {
  width: 100% !important;
}

.ct-actions-drop-menu {
  background-color: $calendarTaskColor;
  position: absolute;
  top: 35px;
  right: 5px;
  width: 100%;

  .ct-menu-content {
    width: calc(100% - 10px);
    font-size: 14px;
    min-width: 175px;

    .ct-calendar-task &:before {
      right: 2px;
    }
  }

  .ct-menu-item {
    height: 36px;

    a {
      padding: 0 20px;
    }
  }

  .ct-menu-hint {
    float: right;
  }
}

#datepicker {
  > div {
    &:first-child {
      display: none;
    }
    &:last-child {
      position: static !important;
    }
  }
}

.ct-datepicker-menu {
  .ct-menu-content {
    padding: 0;
    position: relative;
    top: 0;
    width: auto !important;
  }

  #datepicker {
    .dp-popup {
      box-shadow: 0 4px 50px 0 rgba(37, 38, 94, 0.1);
    }
  }

  .ct-menu-opened {
    top: -59px;

    &:after {
      display: none;
    }

    #datepicker:after {
      position: absolute;
      content: '';
      top: 24px;
      border: 16px solid transparent;
      border-left: 16px solid $calendarTaskColor;
      z-index: 9999;
    }
  }

  &.ct-open-right {
    .ct-menu-opened {
      left: calc(100% + 8px);
      right: auto;
    }

    #datepicker {
      &:after {
        left: -30px;
        right: auto;
        border: 16px solid transparent;
        border-right: 16px solid $calendarTaskColor;
      }
    }
  }

  &.ct-open-left {
    .ct-menu-opened {
      right: 247px;
      left: auto;
    }

    #datepicker {
      &:after {
        left: auto;
        right: -30px;
        border-left: 16px solid $calendarTaskColor;
      }
    }
  }

  &.ct-open-mobile {
    .ct-menu-opened {
      top: 10px;
      left: -1px;
      right: auto;
    }

    #datepicker {
      &:after {
        left: 14px;
        right: auto;
        border: 16px solid transparent;
      }

      &:after {
        top: -30px;
        border-bottom: 16px solid $calendarTaskColor;
      }
    }
  }

  .ct-datepicker {
    &:after {
      right: -30px;
      border: 16px solid transparent;
      border-left: 16px solid $calendarTaskColor;
    }
  }
}

.ct-multiple-datepicker {
  margin: -20px;
  display: flex;

  .ct-datepicker-button-block {
    text-align: right;
    padding: 0;
    vertical-align: bottom;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 40px;
    margin-bottom: 0 !important;

    .ct-close {
      display: inline-block;
      top: 13px;
      margin-right: 30px;
    }
  }

  #datepicker {
    border: none;
  }

  .ct-dialog-close {
    right: 10px;
    top: 10px;
  }

  .ct-datepicker-container {
    width: 50%;
    background: #fff;
    text-align: center;
  }

  .ct-datepicker {
    display: inline-block;
    padding: 0 15px;
  }

  .ct-output-results {
    width: 50%;
    box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    padding: 20px 20px 80px;
  }

  .ct-field-head {
    display: block;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    color: #b6b6b6;
    text-transform: uppercase;
  }

  .ct-field-details {
    margin: 0 0 15px 10px;
    color: #596063;
    line-height: 1.3;

    em {
      font-family: inherit;
      font-weight: 700;
    }

    .ct-placeholder {
      font-style: italic;
    }
  }

  .ct-form-actions {
    .ct-submit {
      font-family: inherit;
      font-weight: 700;
      font-size: $smallFont;
      border-color: transparent;
      color: #fff;
      transition-duration: .3s;

      &:hover {
        color: rgba(255, 255, 255, 0.87);
      }

      &[disabled] {
        color: rgba(255, 255, 255, 0.54);
      }

      .mat-button-focus-overlay {
        display: none;
      }
    }

    .ct-close {
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: none;
      transition-duration: .3s;
    }
  }
}