<div class="ct-admin-page ct-page-container">
    <button mat-raised-button class="ct-blue-button" (click)="updateManagersRoles()">
        Update Managers Roles
    </button>

    <button mat-raised-button class="ct-blue-button" (click)="resetCache()">
        Reset Cache
    </button>

    <button mat-raised-button class="ct-blue-button" (click)="updateClaims()">
        Update Claims
    </button>

    <button mat-raised-button class="ct-blue-button" (click)="updateAvatars()">
        Update Avatars
    </button>

    <button mat-raised-button class="ct-blue-button" (click)="sendNotificationFromProject()">
        Send Notifications to all users
    </button>

    <button mat-raised-button class="ct-blue-button" (click)="sendNotificationsWeekly()">
        Send Weekly Updates to all users
    </button>

    <ct-member-actions></ct-member-actions>
</div>