<form #entryTimeForm="ngForm" entryTimeFilled
      class="ct-form-container ct-container-color-{{currentTimeEntry.color}}">
    <!--Added to allow form be focused-->
    <input class="ct-input-hidden-control" autofocus>
    <div class="ct-title">
        <div class="ct-required-field-container">
            <ct-select *ngIf="projectList?.length > 1" [class.ct-archived]="isArchivedProjectShown()"
                       [name]="'project'"
                       [defaultValue]="!isArchivedProjectShown() ? timeEntry.projectName : timeEntry.projectName + ' (archived)'"
                       [displayName]="'name'" [trackBy]="'id'"
                       [maxHeight]="formHeight - 101"
                       [(ngModel)]="projectModel"
                       (ngModelChange)="projectOnChange(projectModel)"
                       [required]="!currentTimeEntry.id"
                       [options]="projectList">
            </ct-select>
        </div>
        <div *ngIf="projectList?.length <= 1" class="ct-project"
             [title]="currentTimeEntry.projectName">{{currentTimeEntry.projectName}}
        </div>
    </div>
    <div class="ct-task">
        <div class="ct-task-name">
            <div class="ct-required-field-container">
                <ct-select [name]="'task'" [class.ct-archived]="isArchivedTaskShown()"
                           [defaultValue]="!isArchivedTaskShown() ? timeEntry.taskName : timeEntry.taskName + ' (archived)'"
                           [displayName]="'name'" [trackBy]="'id'"
                           [maxHeight]="formHeight - 149"
                           [(ngModel)]="taskModel"
                           (ngModelChange)="taskOnChange(taskModel)"
                           [required]="!currentTimeEntry.id"
                           [options]="taskList">
                </ct-select>
            </div>
        </div>
        <ct-textarea class="ct-description-block"
                     [name]="'description'"
                     [placeholder]="'Add task details'"
                     [maxlength]="1000"
                     [canResize]="true"
                     [(ngModel)]="currentTimeEntry.description"
                     (ngModelChange)="descriptionOnChange()"></ct-textarea>
    </div>
    <div class="ct-time-actions clearfix">
        <button class="ct-timer" type="button" mat-button
                [disabled]="!canActivateTimer()"
                (click)="toggleTimer()"
                [class.ct-timer-started]="isTimerShown">
            <div *ngIf="!isTimerShown">
                <span class="ct-actions-icon"></span>
                Run Timer
            </div>
            <div *ngIf="isTimerShown">
                <span class="ct-actions-icon"></span>
                <div class="ct-timer-container">
                    <span>{{timerValue?.hours}}</span>
                    <span class="ct-divider">:</span>
                    <span>{{timerValue?.minutes}}</span>
                    <span class="ct-divider">:</span>
                    <span>{{timerValue?.seconds}}</span>
                </div>
                Stop Timer
            </div>
        </button>
        <button type="button" *ngIf="!currentTimeEntry.timeOptions.isFromToShow"
                class="ct-time-path"
                [disabled]="isTimerShown"
                (click)="openFromToForm()">
            <div>
                <span class="ct-actions-icon"></span>
                From... To...
            </div>
        </button>
        <div *ngIf="currentTimeEntry.timeOptions.isFromToShow" class="ct-time-path"
             [class.ct-focus]="isFromToFormFocus">
            <div class="ct-from-to-form">
                <div class="ct-from-time">
                    <label for="timeFrom" class="ct-label">From:</label>
                    <input id="timeFrom" name="timeFrom" autocomplete="off" time
                           [(ngModel)]="timeFrom"
                           [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                           (focus)="isFromToFormFocus = true"
                           (timeChanged)="validateFromToForm($event, timeTo)">
                </div>
                <span class="ct-actions-icon"></span>
                <div class="ct-to-time">
                    <label for="timeTo" class="ct-label">To:</label>
                    <input id="timeTo" name="timeTo" autocomplete="off" time
                           [(ngModel)]="timeTo"
                           [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                           (focus)="isFromToFormFocus = true"
                           (timeChanged)="validateFromToForm(timeFrom, $event)">
                </div>
            </div>
        </div>
    </div>
    <div class="ct-time-period clearfix">
        <div class="ct-actual-time" [class.ct-disabled-form]="isTimerShown">
            <label for="timeActual" class="ct-period-icon" title="Tracked time"></label>
            <input id="timeActual" name="timeActual" autocomplete="off" time
                   [(ngModel)]="timeActual"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (ngModelChange)="timeActualOnChange()"
                   [disabled]="isTimerShown">
        </div>
        <div class="ct-planned-time">
            <label for="timeEstimated" class="ct-period-icon" title="Planned time"></label>
            <input id="timeEstimated" name="timeEstimated" autocomplete="off" time
                   [(ngModel)]="timeEstimated"
                   [textMask]="{mask: timeMask, guide: true, keepCharPositions: true, placeholderChar: ' '}"
                   (ngModelChange)="timeEstimatedOnChange()">
        </div>
    </div>
    <div class="ct-form-actions clearfix">
        <button mat-button
                class="ct-submit mat-button ct-color-{{currentTimeEntry.color}}"
                (click)="submit()"
                [disabled]="entryTimeForm.invalid || entryTimeForm.pristine || isRequestLoading">Done
        </button>
        <button type="button" class="ct-close" (click)="closeForm()" ctClickClose>Cancel</button>
    </div>
</form>