<div class="ct-dialog ct-project-settings-dialog">
    <div class="ct-dialog-title">
        <span>Settings for</span><span>{{project.name}}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <form #projectSettingsForm="ngForm" (ngSubmit)="save()">
        <div class="ct-form-block">
            <label class="ct-form-label">Time Entries Lock</label>
            <mat-checkbox value="true" name="isTimeLockEnabled" [(ngModel)]="model.isTimeLockEnabled">Enable
            </mat-checkbox>

            <p>
                Lock time entries in
                <mat-input-container>
                    <input matInput name="daysBeforeStopEditJobs"
                           placeholder="0"
                           [(ngModel)]="model.daysBeforeStopEditTimeEntries"
                           [textMask]="{mask: numberMask, guide: false, keepCharPositions: true}"
                           [required]="model.isTimeLockEnabled"
                           [disabled]="!model.isTimeLockEnabled"/>
                </mat-input-container>
                day(s) after the end of
                <ct-select class="ct-select-inline" required
                           [name]="'lockPeriod'"
                           [displayName]="'viewValue'" [trackBy]="'value'"
                           [(ngModel)]="lockPeriodModel"
                           (ngModelChange)="lockPeriodOnChange()"
                           [options]="lockPediods"
                           [required]="model.isTimeLockEnabled"
                           [disabled]="!model.isTimeLockEnabled">
                </ct-select>
            </p>
        </div>

        <div class="ct-form-block">
            <label class="ct-form-label">Notify Team Members to fill Time Entries</label>
            <mat-checkbox value="true" name="isNotificationEnabled" [(ngModel)]="model.isNotificationEnabled">Enable
            </mat-checkbox>
            <p>
                Send notification email if the time entries missed for more than
                <mat-input-container>
                    <input matInput name="notificationDay"
                           placeholder="0"
                           [(ngModel)]="model.notificationDay"
                           [textMask]="{mask: numberMask, guide: false, keepCharPositions: true}"
                           [required]="model.isNotificationEnabled"
                           [disabled]="!model.isNotificationEnabled">
                </mat-input-container>
                working days.
            </p>
        </div>

        <div class="ct-form-block">
            <label class="ct-form-label">Privacy</label>
            <mat-radio-group [(ngModel)]="model.isPrivate" name="isPrivate">
                <div>
                    <mat-radio-button [value]="true">
                        Private
                    </mat-radio-button>
                    <div class="ct-subscription">
                        Only added members are allowed to access a private project.
                    </div>
                </div>
                <div>
                    <mat-radio-button [value]="false">
                        Public
                    </mat-radio-button>
                    <div class="ct-subscription">
                        All users are allowed to access a public project.
                    </div>
                </div>
            </mat-radio-group>
        </div>

        <div class="ct-buttons-block" mat-dialog-actions>
            <button mat-raised-button [disabled]="!projectSettingsForm.form.valid || projectSettingsForm.form.pristine" type="submit"
                    class="ct-button ct-blue-button">Save
            </button>
            <button mat-dialog-close class="ct-cancel-button">Cancel</button>
        </div>
    </form>
</div>