.ct-login-page,
.ct-set-password {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;

  .ct-nav-logo {
    display: none;
  }

  .ct-add-link {
    display: inline-block;
    margin-top: 10px;

    a {
      text-transform: none;
      font-size: 15px;
      display: block;
      color: $nav-background;
      border-bottom: 1px dotted;
      line-height: 15px;
    }

    > a:nth-child(1) {
      margin-right: 20px;
    }
  }

  .ct-nav-title1 {
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    top: -25px;
    position: absolute;
  }

  .ct-logo-sm {
    background: url(./assets/ct-logo-sm.svg) no-repeat center center;
    margin-left: 2px;
    margin-top: -5px;
    width: 12px;
    height: 12px;
    display: inline-block;
  }

  .ct-login-form {
    max-width: 360px;
    max-height: 237px;
    width: 75vw;
    z-index: 10;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 20px;
    background: rgb(255, 255, 255);
    border: 4px solid #e4e4e4;

    .ct-input-label {
      margin-top: 20px;
      margin-bottom: 10px;
      display: block;
    }

    .ct-error-text, .ct-hint-text {
      margin-top: 5px;
    }
  }
  .ct-login-form-sso {
    max-height: 127px;
  }

  .ct-login-form-demo {
    max-height: 76px;
    max-width: 407px;

    button {
      margin: 20px 5px 0;
    }
  }

  .ct--password-form-1 {
    max-height: 190px;

    .ct-login-links, button {
      margin-top: 38px;
    }
  }

  .ct-set-password-form-2 {
    max-height: 145px;
  }

  .ct-set-password-form-3 {
    max-height: 374px;
  }

  .ct-set-password-form-5 {
    max-height: 115px;
  }

  .ct-set-password-form-7 {
    max-height: 207px;
  }

  .ct-help-text {
    margin-top: 22px;
    margin-bottom: 10px;
    color: $gray-text;
    line-height: 1.3em;

    span {
      color: $nav-background;
    }
  }

  .ct-login-links {
    margin-top: 22px;
    text-align: right;

    .ct-add-link a {
      font-weight: normal;
      color: $nav-link-border;
    }
  }

  .ct-input {
    width: 100%;
  }

  .mat-input-placeholder.mat-empty, .mat-input-placeholder.mat-float, .mat-input-element {
    color: #237490;
  }

  .ct-primary-button {
    float: right;
    background-color: #5eb2cf;
    margin-top: 20px;

    .material-icons {
      top: -2px;
      position: relative;
      right: 5px;
    }
  }

  .ct-login-failed {
    margin: 10px auto 0 auto;
    position: absolute;
    padding-right: 20px;
  }
}

.ct-login-page:before,
.ct-set-password:before {
  position: fixed;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url(./assets/loginbgcut.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: top center;
}
