@import 'errors';
@import 'login';
@import '../view/navigation';
@import 'projects/projects';
@import 'users/users';
@import 'calendar/calendar';
@import 'calendar/entry-time-form';
@import 'reports/reports';
@import 'profile/profile';

html, body {
  height: 100%;
}

.ct-wrapper {
  height: 100%;
}

.ct-content {
  overflow: hidden;
  padding: 70px 20px 0;
}

.ct-page-container {
  position: relative;
  min-height: 100%;

  .ct-page-header {
    position: relative;
    height: 30px;

    .ct-page-tabs {
      display: inline-block;
      position: relative;
      top: 8px;

      > a {
        display: inline-block;
        text-transform: capitalize;
        border-bottom: 2px solid transparent;
        font-size: 15px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        font-family: $robotoRegular;
        padding: 0 2px 4px 2px;
      }

      > a:nth-child(1) {
        margin-right: 10px;
      }
    }

    .ct-page-tabs:not(.ct-calendar-periods) > a:hover, .ct-page-tabs:not(.ct-calendar-periods) .ct-active-tab {
      border-bottom: 2px solid $nav-link-border !important;
    }

    .ct-page-tabs > a:hover, .ct-active-tab {
      color: $nav-background !important;
    }

    .ct-add-link {
      position: absolute;
      font-family: inherit;
      right: 0;
      top: 3px;
      width: 200px;
      text-align: right;
    }
  }

  .ct-data-table-wrapper {
    margin-top: 5px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.ct-impersonation-header {
  width: 100%;
  height: 50px;
  position: fixed;
  background: $impers-header;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  top: 0;

  .ct-impersonation-user {
    font-weight: 700;
  }

  .ct-impersonation-stop {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
  }
}

.ct-impersonation-header + .ct-wrapper {
  padding-top: 50px;
  height: calc(100% - 50px);

  .ct-calendar-weekly-view .ct-calendar {
    .ct-calendar-day-title {
      top: 160px;
    }

    .ct-calendar-day {
      min-height: calc(100vh - 160px);
    }
  }

  .ct-grid-container .ui-datatable-scrollable-body {
    max-height: calc(100vh - 196px);
  }

  .ct-profile .ct-user-settings {
    min-height: calc(100vh - 190px);
  }
}