<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="allfile" fileName="Logs\${aspnet-User-Identity}\nlog-all-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|url: ${aspnet-request-url}| ${message} ${exception}" />
        
        <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web" fileName="Logs\${aspnet-User-Identity}\nlog-own-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|url: ${aspnet-request-url}| ${message} ${exception}">
        </target>
        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" final="true" />
    </rules>
</nlog>
