.cdk-overlay-dark-backdrop {
  position: fixed;
  background: rgb(0, 0, 0);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.35;
}

.mat-dialog-container {
  position: relative;
  border-radius: 5px !important;
  background-color: $calendarTaskColor;
  max-height: calc(100vh - 40px);
  padding: 30px !important;
}

.mat-select-underline {
  display: none;
}

.mat-menu-item.ct-disabled {
  color: rgba(0, 0, 0, .38);
  pointer-events: none;
  cursor: default;
}

.mat-checkbox-indeterminate.mat-accent, .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: $main-blue;
  }
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba($main-blue, .26);
  }
}

.mat-radio-button.mat-accent {
  &.mat-radio-checked .mat-radio-outer-circle {
    border-color: $main-blue;
  }

  .mat-radio-inner-circle {
    background-color: $main-blue;
  }

  .mat-radio-ripple .mat-ripple-element {
    background-color: rgba($main-blue, 0.26);
  }

  .mat-radio-outer-circle {
    border: 1px solid #ccc;
    background: #fff;
  }
}

.mat-input-underline .mat-input-ripple {
  background-color: $main-blue;
}

.mat-select {
  &:focus:not(.mat-select-disabled) {
    .mat-select-arrow, .mat-select-trigger {
      color: $main-blue;
    }
  }
}

.mat-option.mat-selected {
  color: $main-blue;
}

.ui-widget-content a {
  color: $main-blue;

  &:hover {
    color: $dark-blue;
  }
}

.ui-datatable, .ui-cell-data {
  font-family: $baseFontFamily !important;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
  font-family: $baseFontFamily;
  font-size: $baseFont;
}

div.ui-shadow {
  border: none;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.ui-multiselect-panel {
  .slimscroll-wrapper {
    margin: 0 -10px !important;
    width: calc(100% + 24px) !important;
  }
}

.ct-select-option {
  position: relative;
  line-height: 22px;
}

.mat-list-item-content {
  display: block !important;

  label {
    line-height: 16px;
    display: inline-block;
  }
}

.mat-dialog-actions {
  display: block !important;
}

.mat-checkbox {
  .mat-checkbox-frame {
    border: 1px solid #ccc;
    border-radius: 0;
  }

  &.mat-checkbox-checked {
    .mat-checkbox-frame {
      border-color: #099cce;
    }
  }
}

.mat-checkbox-inner-container {
  background: #fff;
}

.mat-checkbox-label, .mat-radio-label-content {
  font-family: $baseFontFamily;
}

.cdk-overlay-container {
  z-index: 1100;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-list-item {
  height: auto !important;
}

.cdk-global-scrollblock {
  position: static;
}