<form *ngIf="!errorMessage" #changePasswordForm="ngForm" class="ct-login-form ct-set-password-form-3">
    <div class="ct-nav-title1">Coral Time <span class="ct-logo-sm"></span></div>
    <div class="ct-form-block">
        <div>
            <label class="ct-input-label">Enter password</label>
            <input class="ct-input" #password="ngModel"
                   type="password" name="password"
                   ctPasswordValidator ctValidateOnblur required
                   [(ngModel)]="password1"/>
            <div *ngIf="password.errors?.ctPasswordLengthInvalid"
                 [class.ct-error-text]="!password.pristine && password.errors?.ctPasswordLengthInvalid"
                 [class.ct-hint-text]="password.pristine">
                Password must be at least 8 characters in length, include uppercase and lowercase letters, alphanumeric characters and special symbol.
            </div>
            <div class="ct-error-text" *ngIf="password.errors?.ctPasswordSpecialCharacterInvalid">Passwords must have at least one special character.</div>
            <div class="ct-error-text" *ngIf="password.errors?.ctPasswordUppercaseInvalid">Passwords must have at least one uppercase ('A'-'Z').</div>
            <div class="ct-error-text" *ngIf="password.errors?.ctPasswordLowercaseInvalid">Passwords must have at least one lowercase ('a'-'z').</div>
            <div class="ct-error-text" *ngIf="password.errors?.ctPasswordDigitInvalid">Passwords must have at least one digit ('0'-'9').</div>
        </div>
        <div>
            <label class="ct-input-label">Repeat password</label>
            <input type="password" class="ct-input" name="password2" #confirmPasswordModel="ngModel" [(ngModel)]="password2"
                   ctPasswordValidator minlength="8" ctValidateOnblur required>
            <div class="ct-error-text" *ngIf="confirmPasswordModel.invalid && !confirmPasswordModel.pristine">Passwords must be equal.</div>
        </div>
    </div>

    <button mat-raised-button
            type="button"
            [disabled]="!changePasswordForm.form.valid || password1 != password2"
            class="ct-button ct-primary-button"
            (click)="saveNewPassword(token, password1)">Save password
    </button>

    <div class="ct-login-links">
        <div class="ct-add-link"><a [routerLink]="['/login']">Go to login</a></div>
    </div>
</form>

<div *ngIf="errorMessage" class="ct-login-form ct-set-password-form-5">
    <div class="ct-nav-title1">Coral Time <span class="ct-logo-sm"></span></div>
    <div class="ct-error-text ct-help-text">
        {{errorMessage}}
    </div>

    <div class="ct-login-links">
        <div class="ct-add-link"><a [routerLink]="['/login']">Go to login</a></div>
    </div>
</div>