<div class="ct-profile ct-profile-settings-page">
    <div class="ct-page-container">
        <div class="ct-page-header">
            <h2>Profile settings</h2>
        </div>

        <div class="ct-page-content">
            <div class="ct-user-pic-container">
                <ct-user-pic [urlIcon]='avatarUrl' [fullSize]="true"></ct-user-pic>
                <span class="ct-link-text" (click)="openPhotoDialog()">Change Profile Picture</span>
            </div>

            <div class="ct-user-settings">
                <div class="ct-form-block">
                    <div class="ct-form-header" (click)="toggleForm(0)">
                        <a class="ct-add-button">
                            <i class="material-icons">{{isFormShownArray[0] ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</i>
                        </a>
                        <span class="ct-link-text">{{isFormShownArray[0] ? "Hide Personal Info" : "Show Personal Info"}}</span>
                    </div>

                    <form class="ct-form" [hidden]="!isFormShownArray[0]" #personalInfoForm="ngForm" (submit)="submitPersonalInfo()">
                        <div>
                            <label class="ct-form-label">Personal Info</label>
                        </div>

                        <div>
                            <label class="ct-form-label">Full Name</label>
                            <div class="ct-required-field-container">
                                <input class="ct-input ct-full-width" name="name"
                                       [(ngModel)]="userModel.fullName" pattern=".*[^\s]+.*" required/>
                            </div>
                        </div>

                        <div>
                            <label class="ct-form-label">Email Address</label>
                            <div class="ct-required-field-container">
                                <input class="ct-input ct-full-width" #contactEmail="ngModel" type="email"
                                       name="email" [(ngModel)]="userModel.email"
                                       (focus)="showWrongEmailMessage = false"
                                       (ngModelChange)="isEmailChanged = true"
                                       [pattern]="emailPattern" required>
                            </div>
                            <div class="ct-error-text" *ngIf="isEmailChanged && showWrongEmailMessage">User with this email already exists</div>
                            <div class="ct-error-text" *ngIf="!contactEmail.pristine && !userModel.email">Email can't be empty</div>
                        </div>

                        <div>
                            <a class="ct-link-text ct-reset-password-button" (click)="resetPassword()">Reset password</a>
                            <div *ngIf="resetPasswordMessage" class="ct-reset-password-message">{{resetPasswordMessage}}</div>
                        </div>

                        <button mat-raised-button class="ct-button ct-blue-button" [disabled]="!personalInfoForm.valid">
                            Save Personal Info
                        </button>
                    </form>
                </div>

                <div class="ct-form-block">
                    <div class="ct-form-header" (click)="toggleForm(1)">
                        <a class="ct-add-button">
                            <i class="material-icons">{{isFormShownArray[1] ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</i>
                        </a>
                        <span class="ct-link-text">{{isFormShownArray[1] ? "Hide Preferences" : "Show Preferences"}}</span>
                    </div>

                    <form class="ct-form" [hidden]="!isFormShownArray[1]" #preferencesForm="ngForm" (submit)="submitPreferences()">
                        <div>
                            <label class="ct-form-label">Preferences</label>
                        </div>

                        <div>
                            <label class="ct-form-label">Default Project</label>
                            <ct-select [name]="'defaultProject'"
                                       [displayName]="'name'" [trackBy]="'id'"
                                       [(ngModel)]="projectModel"
                                       (ngModelChange)="defaultProjectOnChange(projectModel)"
                                       [options]="projects">
                            </ct-select>
                        </div>

                        <div>
                            <label class="ct-form-label">Default Task</label>
                            <ct-select [name]="'defaultTask'"
                                       [displayName]="'name'" [trackBy]="'id'"
                                       [(ngModel)]="taskModel"
                                       (ngModelChange)="userModel.defaultTaskId = taskModel.id"
                                       [options]="tasks">
                            </ct-select>
                        </div>

                        <div>
                            <label class="ct-form-label">Date Format</label>
                            <ct-select [name]="'dateFormat'" [trackBy]="'dateFormat'"
                                       [defaultValue]="'None'"
                                       [(ngModel)]="dateFormatModel"
                                       (ngModelChange)="dateFormatOnChange(dateFormatModel)"
                                       [options]="dateFormats">
                            </ct-select>
                        </div>

                        <div>
                            <label class="ct-form-label">Time Format</label>
                            <ct-select [name]="'timeFormat'" [trackBy]="'timeFormat'"
                                       [(ngModel)]="timeFormatModel"
                                       (ngModelChange)="timeFormatOnChange()"
                                       [options]="timeFormats">
                            </ct-select>
                        </div>

                        <div>
                            <label class="ct-form-label">Week Starts On</label>
                            <ct-select [name]="'weekStartDay'"
                                       [(ngModel)]="weekStartDayModel"
                                       (ngModelChange)="weekStartDayOnChange()"
                                       [options]="weekStartDays">
                            </ct-select>
                        </div>

                        <div>
                            <mat-checkbox name="isWeeklyTimeEntryUpdatesSend" [(ngModel)]="userModel.isWeeklyTimeEntryUpdatesSend">
                                Send weekly time entry updates
                            </mat-checkbox>
                        </div>

                        <button mat-raised-button class="ct-button ct-blue-button" [disabled]="!preferencesForm.valid">
                            Save Preferences
                        </button>
                    </form>
                </div>

                <!--<div class="ct-form-block">-->
                    <!--<div class="ct-form-header" (click)="toggleForm(2)">-->
                        <!--<a class="ct-add-button">-->
                            <!--<i class="material-icons">{{isFormShownArray[2] ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</i>-->
                        <!--</a>-->
                        <!--<span class="ct-link-text">{{isFormShownArray[2] ? "Hide Notifications" : "Show Notifications"}}</span>-->
                    <!--</div>-->

                    <!--<form class="ct-form" [hidden]="!isFormShownArray[2]" #notificationForm="ngForm" (submit)="submitNotifications()">-->
                        <!--<div>-->
                            <!--<label class="ct-form-label">Notifications</label>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<label class="ct-form-label">If i haven't logged hours, email me at</label>-->
                            <!--<ct-select [name]="'sendEmailTime'" #select-->
                                       <!--[(ngModel)]="sendEmailTimeModel"-->
                                       <!--(change)="sendEmailTimeOnChange(select)"-->
                                       <!--[options]="sendEmailTimeArray">-->
                            <!--</ct-select>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<label class="ct-form-label">On the following days:</label>-->
                            <!--<mat-checkbox *ngFor="let day of sendEmailDaysArray; let i = index"-->
                                         <!--[name]="'sendEmailDay-' + i"-->
                                         <!--[(ngModel)]="sendEmailDays[day.dayNumber]"-->
                                         <!--(change)="sendEmailDayOnChange()">-->
                                <!--{{day.name}}-->
                            <!--</mat-checkbox>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<mat-checkbox name="isWeeklyTimeEntryUpdatesSend" [(ngModel)]="userModel.isWeeklyTimeEntryUpdatesSend">-->
                                <!--Send weekly time entry updates-->
                            <!--</mat-checkbox>-->
                        <!--</div>-->

                        <!--<button mat-raised-button class="ct-button ct-blue-button" [disabled]="!notificationForm.valid">-->
                            <!--Save Notifications-->
                        <!--</button>-->
                    <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>