<div class="ct-profile-settings">
    <div class="ct-profile-block">
        <h3 class="ct-header">Personal Info</h3>

        <div class="ct-user-pic-container">
            <ct-user-pic [urlIcon]='avatarUrl' [fullSize]="true"></ct-user-pic>
            <span class="ct-link-text" (click)="openPhotoDialog()">Change Profile Picture</span>
        </div>

        <form class="ct-form">
            <div class="ct-form-block">
                <label class="ct-form-label">Full Name</label>
                <input class="ct-input ct-full-width" name="name"
                       [(ngModel)]="userModel.fullName" pattern=".*[^\s]+.*" required/>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Email Address</label>
                <input class="ct-input ct-full-width" #contactEmail="ngModel" type="email"
                       name="email" [(ngModel)]="userModel.email"
                       (focus)="showWrongEmailMessage = false"
                       (ngModelChange)="isEmailChanged = true"
                       [pattern]="emailPattern" required>
                <div class="ct-error-text" *ngIf="isEmailChanged && showWrongEmailMessage">User with this email already exists</div>
                <div class="ct-error-text" *ngIf="!contactEmail.pristine && !userModel.email">Email can't be empty</div>
            </div>

            <div class="ct-form-block">
                <button type="button" class="ct-link-text ct-reset-password-button" (click)="resetPassword()">Reset password</button>
                <div *ngIf="resetPasswordMessage" class="ct-hint-text">{{resetPasswordMessage}}</div>
            </div>
        </form>
    </div>

    <div class="ct-profile-block">
        <h3 class="ct-header">Preferences</h3>

        <form class="ct-form">
            <div>
                <label class="ct-form-label">Default Project</label>
                <ct-select [name]="'defaultProject'"
                           [displayName]="'name'" [trackBy]="'id'"
                           [(ngModel)]="projectModel"
                           (ngModelChange)="defaultProjectOnChange(projectModel)"
                           [options]="projects">
                </ct-select>
            </div>

            <div>
                <label class="ct-form-label">Default Task</label>
                <ct-select [name]="'defaultTask'"
                           [class.ct-loading]="isTasksLoading"
                           [displayName]="'name'" [trackBy]="'id'"
                           [(ngModel)]="taskModel"
                           (ngModelChange)="userModel.defaultTaskId = taskModel.id"
                           [options]="tasks">
                </ct-select>
            </div>

            <div>
                <label class="ct-form-label">Date Format</label>
                <ct-select [name]="'dateFormat'" [trackBy]="'dateFormat'"
                           [defaultValue]="'None'"
                           [(ngModel)]="dateFormatModel"
                           (ngModelChange)="dateFormatOnChange(dateFormatModel)"
                           [options]="dateFormats">
                </ct-select>
            </div>

            <div>
                <label class="ct-form-label">Time Format</label>
                <ct-select [name]="'timeFormat'" [trackBy]="'timeFormat'"
                           [(ngModel)]="timeFormatModel"
                           (ngModelChange)="timeFormatOnChange()"
                           [options]="timeFormats">
                </ct-select>
            </div>

            <div>
                <label class="ct-form-label">Week Starts On</label>
                <ct-select [name]="'weekStartDay'"
                           [(ngModel)]="weekStartDayModel"
                           (ngModelChange)="weekStartDayOnChange()"
                           [options]="weekStartDays">
                </ct-select>
            </div>

            <div>
                <mat-checkbox name="isWeeklyTimeEntryUpdatesSend" [(ngModel)]="userModel.isWeeklyTimeEntryUpdatesSend">
                    Send weekly time entry updates
                </mat-checkbox>
            </div>

            <div>
                <label class="ct-form-label">Working hours/day</label>
                <input class="ct-input ct-full-width" name="workingHoursPerDay" autocomplete="off"
                       [(ngModel)]="userModel.workingHoursPerDay" [ctTime]="24" required [enableFormat]="false"
                       [textMask]="{mask: numberMask, guide: false, keepCharPositions: true}"/>
            </div>
        </form>
    </div>
</div>