<div class="ct-profile-settings">
    <div class="ct-profile-block">
        <h3 class="ct-header">Personal Info</h3>

        <div class="ct-user-pic-container">
            <ct-user-pic [urlIcon]='avatarUrl' [fullSize]="true"></ct-user-pic>
            <span class="ct-link-text" (click)="openPhotoDialog()">Change Profile Picture</span>
        </div>

        <form class="ct-form" #personalInfoForm="ngForm">
            <div class="ct-form-block">
                <label class="ct-form-label">Full Name</label>
                <input class="ct-input ct-full-width" name="fullName" #fullName="ngModel"
                       [(ngModel)]="userModel.fullName" pattern=".*[^\s]+.*" required
                       (blur)="fullNameOnChange()"/>
                <div class="ct-error-text" *ngIf="!fullName.pristine && fullName.errors?.required">Full name can't be empty</div>
                <ct-show-status [status]="personalInfoFormStatus['fullName']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Email Address</label>
                <input class="ct-input ct-full-width" #contactEmail="ngModel" type="email"
                       name="email" [(ngModel)]="userModel.email"
                       (ngModelChange)="emailOnChange()"
                       (blur)="emailOnBlur()"
                       [pattern]="emailPattern" required>
                <div class="ct-error-text" *ngIf="isEmailChanged && showWrongEmailMessage">User with this email already exists</div>
                <div class="ct-error-text" *ngIf="!contactEmail.pristine && contactEmail.errors?.required">Email can't be empty</div>
                <div class="ct-error-text" *ngIf="!contactEmail.pristine && contactEmail.errors?.pattern">Invalid email</div>
                <ct-show-status [status]="personalInfoFormStatus['email']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <button type="button" class="ct-link-text ct-reset-password-button" (click)="resetPassword()">Reset password</button>
                <div *ngIf="resetPasswordMessage" class="ct-hint-text">{{resetPasswordMessage}}</div>
            </div>
        </form>
    </div>

    <div class="ct-profile-block">
        <h3 class="ct-header">Preferences</h3>

        <form class="ct-form" #preferencesForm="ngForm">
            <div class="ct-form-block">
                <label class="ct-form-label">Default Project</label>
                <ct-select [name]="'defaultProject'"
                           [displayName]="'name'" [trackBy]="'id'"
                           [(ngModel)]="projectModel"
                           (change)="defaultProjectOnChange()"
                           [options]="projects">
                </ct-select>
                <ct-show-status [status]="preferencesFormStatus['defaultProject']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Default Task</label>
                <ct-select [name]="'defaultTask'"
                           [class.ct-loading]="isTasksLoading"
                           [displayName]="'name'" [trackBy]="'id'"
                           [(ngModel)]="taskModel"
                           (change)="defaultTaskOnChange()"
                           [options]="tasks">
                </ct-select>
                <ct-show-status [status]="preferencesFormStatus['defaultTask']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Date Format</label>
                <ct-select [name]="'dateFormat'" [trackBy]="'dateFormat'"
                           [defaultValue]="'None'"
                           [(ngModel)]="dateFormatModel"
                           (change)="dateFormatOnChange()"
                           [options]="dateFormats">
                </ct-select>
                <ct-show-status [status]="preferencesFormStatus['dateFormat']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Time Format</label>
                <ct-select [name]="'timeFormat'" [trackBy]="'timeFormat'"
                           [(ngModel)]="timeFormatModel"
                           (change)="timeFormatOnChange()"
                           [options]="timeFormats">
                </ct-select>
                <ct-show-status [status]="preferencesFormStatus['timeFormat']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Week Starts On</label>
                <ct-select [name]="'weekStartDay'"
                           [(ngModel)]="weekStartDayModel"
                           (change)="weekStartDayOnChange()"
                           [options]="weekStartDays">
                </ct-select>
                <ct-show-status [status]="preferencesFormStatus['weekStartDay']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <mat-checkbox name="isWeeklyTimeEntryUpdatesSend"
                              [(ngModel)]="userModel.isWeeklyTimeEntryUpdatesSend"
                              (change)="isWeeklyTimeEntryUpdatesSendOnChange()">
                    Send weekly time entry updates
                </mat-checkbox>
                <ct-show-status [status]="preferencesFormStatus['isWeeklyTimeEntryUpdatesSend']"></ct-show-status>
            </div>

            <div class="ct-form-block">
                <label class="ct-form-label">Working hours/day</label>
                <input class="ct-input ct-full-width" name="workingHoursPerDay" autocomplete="off"
                       [(ngModel)]="userModel.workingHoursPerDay" [ctTime]="24" required [enableFormat]="false"
                       [textMask]="{mask: numberMask, guide: false, keepCharPositions: true}"
                       (blur)="workingHoursPerDayOnChange()"/>
                <ct-show-status [status]="preferencesFormStatus['workingHoursPerDay']"></ct-show-status>
            </div>
        </form>
    </div>
</div>