<header class="ct-nav">
    <div class="ct-nav-layout">
        <div class="ct-nav-col">
            <div class="ct-nav-logo" [routerLink]="['/']"></div>
            <div class="ct-nav-menu">
                <ul>
                    <li *ngFor="let item of items" [routerLink]="item.routerLink" routerLinkActive="active">
                        <a [routerLink]="item.routerLink">
                            <mat-icon><i class="ct-nav-icon {{item.icon}}" aria-hidden="true"></i></mat-icon>
                            <span>{{item.label}}</span>
                        </a>
                    </li>

                    <li class="ct-nav-manage-item"
                        [ngClass]="{'ct-nav-manage-item-show': showManageMenu, active: isManageMenuOpen || manageLinkActive.isActive}"
                        (click)="toggleManageMenu(manageMenu)">
                        <a>
                            <mat-icon><i class="ct-nav-icon ct-manage-icon" aria-hidden="true"></i></mat-icon>
                            <span>Manage</span>
                        </a>
                    </li>
                </ul>
                <ct-menu #manageMenu class="ct-nav-drop-menu ct-nav-manage-menu" xPosition="after" (closed)="isManageMenuOpen = false">
                    <ul #manageLinkActive="routerLinkActive" routerLinkActive [routerLinkActiveOptions]="{exact:true}"
                        (window:resize)="onResize()">
                        <ng-template ngFor let-item [ngForOf]="items">
                            <li *ngIf="isMobileView()" class="ct-menu-item ct-only-mobile" routerLinkActive="active">
                                <a [routerLink]="item.routerLink">
                                    <mat-icon><i class="ct-nav-icon {{item.icon}}" aria-hidden="true"></i></mat-icon>
                                    <span>{{item.label}}</span>
                                </a>
                            </li>
                        </ng-template>
                        <ng-template ngFor let-item [ngForOf]="manageItems">
                            <li class="ct-menu-item" *ctIsGranted="item.permission" routerLinkActive="active"
                                (click)="manageMenu.closeMenu()">
                                <a [routerLink]="item.routerLink">
                                    <mat-icon><i class="ct-nav-icon {{item.icon}}" aria-hidden="true"></i></mat-icon>
                                    <span>{{item.label}}</span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </ct-menu>
            </div>
        </div>
        <div class="ct-nav-col">
            <div class="ct-profile-block">
                <div class="ct-nav-droplink">
                    <div class="ct-nav-username">
                        <a title="View Profile" [routerLink]="['/profile']">{{impersonationUser?.fullName || userInfo?.fullName}}</a>
                    </div>
                    <a [routerLink]="['/profile']" title="View Profile" class="ct-userpic">
                        <ct-user-pic [urlIcon]="impersonationUser?.urlIcon || userInfo?.urlIcon"></ct-user-pic>
                    </a>
                    <i class="fa" [ngClass]="isProfileNavMenuOpen ? 'fa-caret-up' : 'fa-caret-down'"
                       (click)="toggleProfileNavMenu(profileNavMenu)"></i>
                </div>

                <ct-menu #profileNavMenu class="ct-nav-drop-menu" xPosition="before" (closed)="isProfileNavMenuOpen = false">
                    <ct-menu-item class="ct-menu-item">
                        <a [routerLink]="['/profile/settings']" title="Profile Settings">
                            <mat-icon>settings</mat-icon>
                            <span>Settings</span>
                        </a>
                    </ct-menu-item>
                    <!--<ct-menu-item class="ct-menu-item">-->
                        <!--<a>-->
                            <!--<mat-icon>help</mat-icon>-->
                            <!--<span>Help</span>-->
                        <!--</a>-->
                    <!--</ct-menu-item>-->
                    <ct-menu-item class="ct-menu-item" (click)="signOut()">
                        <a>
                            <mat-icon>power_settings_new</mat-icon>
                            <span>Logout</span>
                        </a>
                    </ct-menu-item>
                </ct-menu>
            </div>
        </div>
    </div>
</header>