<div class="ct-dialog ct-dialog-add ct-users-dialog">
    <div class="ct-dialog-title">
        <span>{{dialogHeader}}</span><span>{{ user.fullName }}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <form #userForm="ngForm" class="ct-form-add">
        <div class="ct-form-block">
            <div>
                <label class="ct-form-label">Full Name</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" name="fullName" [(ngModel)]="model.fullName" maxlength="200" required autofocus/>
                </div>

                <div *ngIf="errorFullNameMessage && !model.fullName"
                     class="ct-login-failed ct-error-text">Full Name is required!
                </div>
            </div>

            <div>
                <label class="ct-form-label">Username</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" #userName="ngModel"
                           [ctUsernameValidator]="model" pattern=".*[^\s]+.*" ctValidateOnblur required
                           name="userName" maxlength="200"
                           [(ngModel)]="model.userName"/>
                </div>

                <div *ngIf="errorUserNameMessage && !model.userName && !userName.errors?.ctUsernameInvalid"
                     class="ct-login-failed ct-error-text">Username is required!
                </div>

                <div class="ct-error-text" *ngIf="userName.errors?.ctUsernameInvalid">User with this username already exists</div>
            </div>

            <div *ngIf="user.id">
                <label class="ct-form-label">User Status</label>
                <ct-select [disabled]="user?.id == authUser.id || user.id == impersonateUser?.id"
                           [name]="'state'"
                           [displayName]="'title'" [trackBy]="'value'"
                           [(ngModel)]="stateModel"
                           (ngModelChange)="stateOnChange()"
                           [options]="states">
                </ct-select>
                <div *ngIf="stateText" class="ct-info-message">
                    {{stateText}}
                </div>
            </div>

            <div *ngIf="!user.id">
                <label class="ct-form-label">Password</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" #password="ngModel"
                           type="password" name="password"
                           ctPasswordValidator ctValidateOnblur required
                           [(ngModel)]="model.password"/>
                </div>
                <div *ngIf="password.errors?.ctPasswordLengthInvalid"
                     [class.ct-error-text]="!password.pristine && password.errors?.ctPasswordLengthInvalid"
                     [class.ct-hint-text]="password.pristine">
                    Password must be at least 8 characters in length, include uppercase and lowercase letters, alphanumeric characters and special symbol.
                </div>
                <div class="ct-error-text" *ngIf="password.errors?.ctPasswordSpecialCharacterInvalid">Passwords must have at least one special character.</div>
                <div class="ct-error-text" *ngIf="password.errors?.ctPasswordUppercaseInvalid">Passwords must have at least one uppercase ('A'-'Z').</div>
                <div class="ct-error-text" *ngIf="password.errors?.ctPasswordLowercaseInvalid">Passwords must have at least one lowercase ('a'-'z').</div>
                <div class="ct-error-text" *ngIf="password.errors?.ctPasswordDigitInvalid">Passwords must have at least one digit ('0'-'9').</div>

                <div *ngIf="errorPasswordMessage && !model.password && !model.id" class="ct-login-failed ct-error-text">Password is required!
                </div>
            </div>

            <div *ngIf="!user.id">
                <label class="ct-form-label">Confirm Password</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" type="password" name="confirmPassword" #confirmPassword="ngModel"
                           [(ngModel)]="model.confirmPassword"
                           required validateEqual="password" ctValidateOnblur/>
                </div>
                <div class="ct-error-text" *ngIf="confirmPassword.invalid && !confirmPassword.pristine">Passwords must be equal.</div>
                <div *ngIf="errorPasswordMessage && !model.confirmPassword && !model.id" class="ct-login-failed ct-error-text">Confirm Password is required!
                </div>
            </div>

            <div>
                <label class="ct-form-label">Email Address</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" #email="ngModel"
                           type="email" name="email"
                           [ctEmailValidator]="model" maxlength="200"
                           [pattern]="emailPattern"
                           [email]="!!model.email" ctValidateOnblur required
                           [(ngModel)]="model.email">
                </div>

                <div *ngIf="errorEmailMessage && !model.email && !email.errors?.ctEmailInvalid"
                     class="ct-login-failed ct-error-text">Email is required!
                </div>

                <div class="ct-error-text" *ngIf="email.errors?.ctEmailInvalid">User with this email already exists</div>

                <div *ngIf="model.email">
                    <div class="ct-error-text" *ngIf="!email.pristine && email.errors && !email.errors?.ctEmailInvalid || !isEmailValid && !email.valid">Invalid email</div>
                </div>
            </div>

            <div>
                <label class="ct-form-label">Role</label>
                <ct-select [disabled]="user.id === authUser.id || user.id === impersonateUser?.id"
                           [name]="'role'"
                           [displayName]="'title'" [trackBy]="'value'"
                           [(ngModel)]="roleModel"
                           (ngModelChange)="roleOnChange()"
                           [options]="roles">
                </ct-select>
            </div>

            <mat-checkbox value="true" name="isInvitationEmailSend" [(ngModel)]="model.sendInvitationEmail">
                {{ userNotification }}
            </mat-checkbox>
        </div>

        <div class="ct-buttons-block" mat-dialog-actions>
            <button (click)="save(userForm)" mat-raised-button class="ct-button ct-blue-button"
                    [disabled]="userForm.untouched || userForm.pristine || isRequestLoading">{{submitButtonText}}
            </button>
            <button mat-dialog-close class="ct-cancel-button">Cancel</button>
        </div>
    </form>
</div>