<div class="ct-dialog ct-dialog-add ct-users-dialog">
    <div class="ct-dialog-title">
        <span>{{dialogHeader}}</span><span>{{user.fullName}}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <form #userForm="ngForm" class="ct-form-add">
        <div class="ct-form-block">
            <div>
                <label class="ct-form-label">Full Name</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width"
                           name="fullName"
                           [(ngModel)]="model.fullName"
                           (ngModelChange)="showErrors[1] = false"
                           maxlength="200" required autofocus/>
                </div>
                <div *ngIf="showErrors[1] && !model.fullName" class="ct-error-text">Full Name is required!</div>
            </div>

            <div>
                <label class="ct-form-label">Username</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width"
                           name="userName"
                           (ngModelChange)="showErrors[2] = false"
                           [(ngModel)]="model.userName"
                           maxlength="200" required/>
                </div>
                <div *ngIf="showErrors[2] && !model.userName" class="ct-error-text">Username is required!</div>
                <div *ngIf="showErrors[2] && model.userName" class="ct-error-text">User with this username already exists.</div>
            </div>

            <div *ngIf="user.id">
                <label class="ct-form-label">User Status</label>
                <ct-select [disabled]="user?.id == authUser.id || user.id == impersonateUser?.id"
                           [name]="'state'"
                           [displayName]="'title'" [trackBy]="'value'"
                           [(ngModel)]="stateModel"
                           (ngModelChange)="stateOnChange()"
                           [options]="states">
                </ct-select>
                <div *ngIf="stateText" class="ct-info-message">
                    {{stateText}}
                </div>
            </div>

            <div>
                <label class="ct-form-label">Email Address</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" #email="ngModel"
                           type="email" name="email"
                           [pattern]="emailPattern"
                           [(ngModel)]="model.email"
                           (ngModelChange)="showErrors[0] = false"
                           maxlength="200" required>
                </div>

                <ng-template [ngIf]="showErrors[0]">
                    <div *ngIf="!model.email" class="ct-error-text">Email is required!</div>
                    <div *ngIf="model.email && !email.errors?.pattern" class="ct-error-text">User with this email already exists</div>
                    <div *ngIf="model.email && email.errors?.pattern" class="ct-error-text">Invalid email</div>
                </ng-template>
            </div>

            <div>
                <label class="ct-form-label">Role</label>
                <ct-select [disabled]="user.id === authUser.id || user.id === impersonateUser?.id"
                           [name]="'role'"
                           [displayName]="'title'" [trackBy]="'value'"
                           [(ngModel)]="roleModel"
                           (ngModelChange)="roleOnChange()"
                           [options]="roles">
                </ct-select>
            </div>
        </div>

        <div class="ct-buttons-block" mat-dialog-actions>
            <button mat-raised-button class="ct-button ct-blue-button"
                    [disabled]="isRequestLoading"
                    (click)="validateAndSubmit(userForm)">
                {{submitButtonText}}
            </button>
            <button mat-dialog-close class="ct-cancel-button">Cancel</button>
        </div>
    </form>
</div>