<div class="ct-dialog ct-dialog-add ct-clients-dialog">
    <div class="ct-dialog-title">
        <span>{{dialogHeader}}</span><span>{{client.name}}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <form #clientForm="ngForm" class="ct-form-add">
        <div class="ct-form-block">
            <div>
                <label class="ct-form-label">Client Name</label>
                <div class="ct-required-field-container">
                    <input class="ct-input ct-full-width" name="name"
                           maxlength="200" [(ngModel)]="model.name"
                           required autofocus
                           (ngModelChange)="showErrors[1] = false">
                </div>
                <div *ngIf="showErrors[1] && !model.name" class="ct-error-text">Client name is required.</div>
                <div *ngIf="showErrors[1] && model.name" class="ct-error-text">Client with this name already exists</div>
            </div>

            <div *ngIf="client.id">
                <label class="ct-form-label">Client Status</label>
                <ct-select [name]="'state'"
                           [displayName]="'title'" [trackBy]="'value'"
                           [(ngModel)]="stateModel"
                           (ngModelChange)="stateOnChange()"
                           [options]="states">
                </ct-select>
                <div *ngIf="stateText" class="ct-info-message">
                    {{stateText}}
                </div>
            </div>

            <div>
                <label class="ct-form-label">Contact Email</label>
                <input class="ct-input ct-full-width" type="email" name="email" maxlength="200"
                       [(ngModel)]="model.email" [pattern]="emailPattern"
                       (ngModelChange)="showErrors[0] = false">
                <div class="ct-error-text" *ngIf="showErrors[0]">Invalid email</div>
            </div>

            <div>
                <label class="ct-form-label">Description</label>
                <ct-textarea [name]="'description'" [maxlength]="500" [(ngModel)]="model.description"></ct-textarea>
            </div>
        </div>

        <div class="ct-buttons-block" mat-dialog-actions>
            <button mat-raised-button class="ct-button ct-blue-button"
                    [disabled]="isRequestLoading"
                    (click)="validateAndSubmit(clientForm)">
                {{submitButtonText}}
            </button>
            <button mat-dialog-close class="ct-cancel-button">Cancel</button>
        </div>
    </form>
</div>