.ct-profile-settings-page {
  h2 {
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    color: $nav-link-border;
  }

  .ct-page-header {
    position: relative;
    height: 30px;
    line-height: 30px;
    border-bottom: 3px solid #f1f1f1;
  }

  .ct-page-content {
    padding-top: 20px;

    > div {
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .ct-user-pic-container {
    float: left;
    width: 320px;

    .ct-link-text {
      margin-top: 15px;
    }
  }

  .ct-user-settings {
    margin-left: 320px;
    border-left: 1px solid #f1f1f1;

    .ct-add-button {
      float: left;
      cursor: pointer;
      position: relative;
      top: -7px;
      padding-right: 8px;

      .material-icons {
        background: #979797;
        color: #ffffff;
        border-radius: 4px;
        font-size: 28px;
      }
    }

    .ct-form-header:hover {
      .material-icons {
        background: #099cce;
      }
      .ct-link-text {
        color: #099cce;
      }
    }

    .ct-form-block {
      margin-bottom: 30px;
    }

    .ct-form {
      width: 480px;
      margin-top: 20px;
      padding: 10px 20px 20px;
      background: #f1f1f1;

      > div {
        margin-bottom: 10px;
      }

      .ct-button {
        margin-top: 10px;
      }
    }

    .ct-form-label + div {
      margin-bottom: 10px;
    }

    .ct-reset-password-button, .ct-reset-password-message {
      margin-top: 10px;
    }

    .mat-checkbox {
      display: block;
      margin-top: 20px;
    }
  }
}

.ct-profile-photo-dialog {
  width: 540px;
  padding-top: 30px;

  .ct-dialog-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .ct-profile-photo-left {
    float: left;
    width: 320px;
    border-right: 1px solid #f1f1f1;
    &:last-child {
      border: none;
    }
  }

  img-cropper {
    input, canvas {
      margin-top: 15px;
    }
  }

  label.ct-button {
    display: inline-block;
    margin-top: 10px;
    padding: 0 16px;
    line-height: 36px;
    text-align: center;
  }

  input[type="file"] {
    display: none;
  }

  .ct-image-empty canvas {
    display: none;
  }

  .ct-profile-photo-right {
    width: 200px;
    margin-left: 340px;

    .ct-cropped-profile-photo {
      display: block;
      overflow: hidden;
      width: 200px;
      height: 200px;
      margin-top: 53px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .ct-button {
      float: right;
      height: 40px;
      margin-top: 122px;
    }
  }
}