.ct-profile.ct-profile-page {
  h3 {
    color: $gray-text;;
    font-weight: normal;
  }

  .ct-user-pic-container {
    padding-left: 60px;
    text-align: left;
  }

  .ct-user-settings h3 {
    margin-left: 24px;
  }

  .ct-user-settings-info {
    margin-top: 30px;

    h3 {
      text-align: left;
    }

    p {
      margin-top: 6px;
      text-align: left;
    }
  }

  .ct-blue-button {
    width: 140px;
    margin-top: 30px;
  }

  .ct-profile-no-project {
    margin: 24px;
  }

  .ct-profile-project {
    position: relative;
    padding-left: 70px;
    margin-top: 40px;

    .ct-profile-project-name {
      word-break: break-all;
    }

    .ct-link-text {
      margin-left: 50px;
    }

    span[class^="ct-color-"] {
      display: inline-block;
      position: absolute;
      left: 24px;
      top: 3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    p {
      line-height: 27px;
    }

    .ct-profile-users-block {
      width: 500px;
      margin-left: -50px;
      margin-top: 5px;

      .ct-add-button {
        padding-right: 23px;
      }

      .ct-profile-users-list {
        background: $fullBackground;
        margin-top: 10px;
        padding: 10px 20px;

        .ct-profile-user {
          margin-top: 5px;
          padding-left: 31px;

          ct-user-pic {
            display: inline-block;
            width: 35px;
            height: 35px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          p {
            display: inline-block;
            position: relative;
            top: -14px;
            margin-left: 10px;
          }
        }

        &.ct-profile-members-hidden {
          display: none;
        }
      }
    }
  }
}