.ct-assignment-form {
  .ct-remove-task-button {
    float: right;
  }

  .ct-close {
    margin: auto;
    display: block;
  }

  .ct-form-header {
    height: 20px;
    margin-top: 10px;
    padding: 0;

    .ct-blue-text {
      font-family: inherit;
    }
  }

  .ct-select {
    min-width: 110px;
  }
}

.ct-row-button {
  button {
    margin: 0 5px 5px 0;
  }
}

.ct-grid {
  position: relative;
  margin-top: 20px;
}

.ct-grid-container {
  .ct-link {
    position: relative;
    margin-right: 16px;
    transition-duration: .3s;

    &:hover {
      color: #ff6666;
    }

    i {
      position: absolute;
      top: 50%;
      right: -16px;
      transform: translateY(-50%);
    }
  }
}