<div class="ct-dialog ct-data-dialog">
    <div class="ct-dialog-title">
        <span>Team members of</span><span>{{project.name}}</span>
        <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
    </div>

    <div class="ct-search-container">
        <div class="ct-grid-search-filter">
            <input class="ct-input-element" #gb placeholder="Search to add or remove teammates" [(ngModel)]="filterStr">
            <i class="ct-search-icon"></i>
        </div>
    </div>

    <div class="ct-grid" #grid>
        <div class="ct-popup-table-wrapper" (window:resize)="onResize()">
            <p-dataTable class="ct-grid-container ct-grid-row-border ct-grid-blue" #tableWrapper
                         [value]="assignedUsersPagedResult?.data"
                         scrollable="true" [sortField]="'fullName'"
                         [responsive]="true" [lazy]="true"
                         [loading]="!isAllAssignedUsers"
                         [globalFilter]="gb"
                         [resizeObservable]="resizeObservable"
                         (onLazyLoad)="updateAssignedUsers($event)"
                         (onMoreContent)="updateAssignedUsers()"
                         (onEndScrollEvent)="onAssignedUsersEndScroll()">

                <p-column field="fullName" header="{{assignedUsersPagedResult?.count}} team members"
                          [sortable]="true" [style]="{'width':'330px'}" styleClass="ct-info-col">
                    <ng-template let-col let-userProject="rowData" pTemplate="body">
                        <span class="ct-grid-userpic">
                            <ct-user-pic [urlIcon]="userProject.urlIcon"></ct-user-pic>
                        </span>
                        <span class="ct-grid-link-text">
                            {{userProject.memberName}}
                        </span>
                    </ng-template>
                </p-column>

                <p-column field="memberEmail" header="Email" [style]="{'width':'290px'}"></p-column>

                <p-column header="Access Level" styleClass="ct-access-level" [style]="{'width':'180px'}">
                    <ng-template let-col let-userProject="rowData" pTemplate="body">
                        <ct-select *ngIf="authUser.role === 1 && userProject.id" #select1
                                   class="ct-users-project-edit-role ct-select-ellipse"
                                   [name]="'role'"
                                   [displayName]="'name'" [trackBy]="'id'"
                                   [container]="tableWrapper.el.nativeElement"
                                   [(ngModel)]="userProject.role"
                                   (change)="changeRole(userProject, select1.el.nativeElement)"
                                   [options]="projectRoles">
                        </ct-select>
                        <ct-select *ngIf="authUser.role === 1 && !userProject.id" [name]="'role'"
                                   class="ct-users-project-edit-role ct-select-ellipse" #select2
                                   [displayName]="'name'" [trackBy]="'id'"
                                   [(ngModel)]="userProject.role"
                                   (change)="assignToPublic(userProject, select2.el.nativeElement)"
                                   [options]="projectRoles">
                        </ct-select>
                        <span *ngIf="authUser.role !== 1">{{userProject.role.name}}</span>
                    </ng-template>
                </p-column>

                <p-column header="Actions" styleClass="ct-small-padding">
                    <ng-template let-col let-userProject="rowData" pTemplate="body">
                        <a *ngIf="userProject.memberName !== authUser.nickname
                                && userProject.id
                                && (authUser.role === 1
                                || authUser.role !== 1
                                && userProject.roleName !== 'manager')"
                           class="ct-grid-link ct-grid-delete" #removeBtn
                           (click)="removeFromProject(userProject, removeBtn)">
                            <i class="material-icons" aria-hidden="true">clear</i>
                        </a>
                        <span *ngIf="!userProject.id">Public</span>
                    </ng-template>
                </p-column>
            </p-dataTable>

            <p-dataTable class="ct-grid-container ct-grid-row-border" *ngIf="project.isPrivate"
                         [value]="notAssignedUsersPagedResult?.data"
                         scrollable="true" [sortField]="'fullName'"
                         [responsive]="true" [lazy]="true"
                         [loading]="!isAllNotAssignedUsers"
                         [globalFilter]="gb"
                         [resizeObservable]="resizeObservable"
                         (onLazyLoad)="updateNotAssignedUsers($event)"
                         (onMoreContent)="updateNotAssignedUsers()"
                         (onEndScrollEvent)="onNotAssignedUsersEndScroll()">

                <p-column field="fullName" header="{{notAssignedUsersPagedResult?.count}} Unassigned" [sortable]="true"
                          styleClass="ct-info-col" [style]="{'width':'330px'}">
                    <ng-template let-col let-user="rowData" pTemplate="body">
                         <span class="ct-grid-userpic">
                            <ct-user-pic [urlIcon]="user.urlIcon"></ct-user-pic>
                        </span>
                        <span class="ct-grid-link-text">
                            {{user.fullName}}
                        </span>
                    </ng-template>
                </p-column>

                <p-column field="email" header="Email" [style]="{'width':'470px'}"></p-column>

                <p-column header="Actions" styleClass="ct-small-padding">
                    <ng-template let-col let-user="rowData" pTemplate="body" *ctIsGranted="'roleAssignProjectMember'">
                        <span class="ct-grid-button" (click)="addToProject(user, $event.target)">Add to Team</span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>