$nav-height: 64px;

ct-navigation {
  position: fixed;
  width: 100%;
  height: $nav-height;
  z-index: 996;
  header {
    position: absolute;
  }
}

.ct-nav {
  height: $nav-height;
  width: 100%;
  background: $nav-background;
  position: relative;

  .ct-nav-layout {
    position: relative;
    > .ct-nav-col {
      position: absolute;
    }

    > .ct-nav-col:nth-child(2) {
      right: 0;

      @media (min-width: 825px) {
        text-align: right;
      }
    }
  }

  .ct-nav-logo {
    cursor: pointer;

    @media (min-width: 401px) {
      margin: 14px 65px 0 15px;
    }

    @media (max-width: 400px) {
      margin: 5px;
    }
  }

  .ct-nav-menu {
    display: inline-block;
    height: $nav-height;
    vertical-align: top;
    line-height: $nav-height;
    font-family: inherit;

    @media (max-width: 700px) {
      margin: 0;
    }

    > ul {
      height: $nav-height;
      vertical-align: middle;
      font-size: 0;

      > li {
        position: relative;
        display: inline-block;
        height: 100%;
        margin: 0 15px;

        @media (min-width: 701px) {
          padding: 0 10px;
        }

        @media (max-width: 1300px) {
          padding: 0 5px;
        }

        a {
          display: inline-block;
          font-family: $navFontFamily;
          font-weight: 700;
          font-size: 16px;
          color: $nav-link;
          letter-spacing: .2px;

          &:hover {
            color: $nav-link-hover;
            cursor: pointer;
          }
        }
      }

      @media (max-width: 1300px) {
        > li.ct-nav-manage-item {
          margin-left: 20px;
          width: 40px;

          a {
            padding-left: 5px;
            padding-right: 5px;

            span {
              display: none;
            }
          }
        }
      }

      > li:active, > li.active, > li:hover {
        cursor: pointer;
        outline: none;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: $nav-link-border;
        }

        > a {
          color: $nav-link-hover;
        }
      }
    }

    .ct-nav-manage-item {
      margin-left: 10px;
      padding-left: 0;
      display: none;

      &.active, &.ct-nav-manage-item-show {
        display: inline-block;
      }

      > a {
        > .material-icons {
          margin-right: 1px;
        }
      }

      @media (min-width: 800px) {
        width: 140px;
      }

      @media (max-width: 700px) {
        margin: 0 !important;
        display: inline-block;
        border-bottom: 3px solid $nav-link-border;
      }

      a {
        border-left: 1px solid $nav-link;
        padding-left: 10px;

        @media (max-width: 700px) {
          border: 0;
        }

        span {
          bottom: 12px !important;
        }
      }
    }

    @media (max-width: 700px) {
      .ct-only-mobile {
        &:nth-child(2) {
          &:before {
            position: absolute;
            bottom: 0;
            left: 10px;
            content: '';
            height: 1px;
            width: calc(100% - 20px);
            background: #cbd1d4;
          }
        }
      }
    }
  }

  .ct-profile-block {
    text-align: right;
    color: $primary-btn-text;
    cursor: pointer;

    .ct-nav-username {
      display: inline-block;
      max-width: 190px;
      margin-right: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 700;
      color: #8994b3;
      white-space: nowrap;

      @media (max-width: 500px) {
        display: none;
      }
    }

    ct-user-pic {
      line-height: initial;
      vertical-align: middle;

      .ct-userpic-icon:before {
        background: url(./assets/icons/userpic-nav.svg) no-repeat 50%;
      }
    }

    .ct-nav-droplink {
      width: 100%;

      > * {
        vertical-align: middle;
        display: inline-block;
        height: $nav-height;
        line-height: $nav-height;
      }

      a {
        height: $nav-height;
        display: inline-block;
        vertical-align: middle;
      }

      i {
        width: 12px;
        padding-right: 20px;
        margin-left: 10px;
        z-index: 1001;

        &.ct-caret-down {
          background: url(./assets/icons1/carret-down.svg) no-repeat 0 54%;
        }

        &.ct-caret-up {
          background: url(./assets/icons1/carret-up.svg) no-repeat 0 54%;
        }

        @media (max-width: 800px) {
          width: 22px;
        }
      }
    }
    .mat-icon {
      vertical-align: middle;
    }
  }
}

.ct-nav-drop-menu {
  .ct-menu-content {
    top: 12px;
    z-index: 105;

    &.ct-menu-before {
      right: 10px;
    }

    &.ct-menu-after {
      left: auto;
      right: 0;

      @media (max-width: 700px) {
        right: -110px;
      }
    }

    .ct-menu-item {
      line-height: 52px;
    }

    .ct-userpic .ct-menu-item {
      line-height: 70px;
      border-bottom: 1px solid #f3f4f6;

      ct-user-pic {
        top: -3px;
        left: -5px;
      }
    }

    .ct-logout .ct-menu-item {
      border-top: 1px solid #f3f4f6;

      @media (max-width: 800px) {
        line-height: 70px;
      }
    }

    .ct-menu-item {
      .mat-icon {
        width: 22px;
        height: 28px;
        margin-right: 10px;
      }

      &:hover, &:active, &.active {
        .mat-icon {
          color: $nav-link-border;
        }

        a {
          color: $nav-link-hover;
        }
      }
    }
  }
}

.ct-nav-manage-menu {
  li {
    i {
      top: 8px !important;
    }

    i.ct-admin-icon {
      top: 16px !important;
    }

    span {
      text-transform: uppercase;
      font-family: $navFontFamily;
      font-size: 14px;
    }

    .mat-icon {
      margin-right: 5px !important;
    }
  }
}