ct-navigation {
  position: fixed;
  width: 100%;
  height: $nav-height;
  z-index: 996;

  header {
    position: absolute;
  }
}

.ct-nav {
  height: $nav-height;
  width: 100%;
  background: $nav-background;
  position: relative;

  .ct-nav-layout {
    position: relative;

    > .ct-nav-col {
      position: absolute;
    }

    > .ct-nav-col:nth-child(2) {
      right: 0;

      @media (min-width: 825px) {
        text-align: right;
      }
    }
  }

  .ct-nav-logo {
    cursor: pointer;

    @media (min-width: 401px) {
      margin: 14px 15px 0 15px;
    }

    @media (min-width: 1000px) {
      margin-right: 65px;
    }

    @media (max-width: 400px) {
      margin: 5px;
    }
  }

  .ct-nav-menu {
    display: inline-block;
    height: $nav-height;
    vertical-align: top;
    line-height: $nav-height;
    font-family: inherit;

    @media (max-width: 700px) {
      margin: 0;
    }

    > ul {
      height: $nav-height;
      vertical-align: middle;
      font-size: 0;

      > li {
        position: relative;
        display: inline-block;
        height: 100%;
        margin: 0 15px;

        @media (min-width: 701px) {
          padding: 0 10px;
        }

        @media (max-width: $calendarTabletWidth) {
          padding: 0 5px;
          margin: 0 5px;

          .ct-icon {
            margin-right: 5px;
          }
        }

        a {
          display: inline-block;
          font-family: $navFontFamily;
          font-weight: 700;
          font-size: 16px;
          color: $nav-link;
          letter-spacing: .2px;

          &:hover {
            color: $nav-link-hover;
            cursor: pointer;
          }

          @media (max-width: 1000px) {
            font-size: 14px;
          }
        }
      }

      > li:active, > li.active, > li:hover {
        cursor: pointer;
        outline: none;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: $nav-link-border;
        }

        > a {
          color: $nav-link-hover;
        }
      }
    }
  }

  .ct-profile-block {
    text-align: right;
    color: $primary-btn-text;
    cursor: pointer;

    .ct-nav-username {
      display: inline-block;
      min-width: 70px;
      max-width: 190px;
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 700;
      color: $nav-link;
      white-space: nowrap;
      text-align: center;

      @media (max-width: 500px) {
        display: none;
      }
    }

    ct-user-pic {
      line-height: initial;
      vertical-align: middle;

      .ct-userpic-icon:before {
        background: url(./assets/icons/userpic-nav.svg) no-repeat 50%;
      }

      .mat-icon {
        vertical-align: middle;
      }
    }

    .ct-menu-icon, .ct-menu-blue-icon {
      margin-right: 20px;
    }

    .ct-nav-droplink {
      width: 100%;

      > .ct-settings-icon {
        top: 1px;
        margin-right: 25px;

        &:hover, &.active {
          background-image: url(./assets/icons1/settings-blue.svg);
        }
      }

      > a, > i {
        vertical-align: middle;
        display: inline-block;
        height: $nav-height;
        line-height: $nav-height;
      }
    }

    [class*="ct-caret-"] {
      width: 12px;
      padding-right: 20px;
      z-index: 1001;

      &.ct-caret-down {
        background: url(./assets/icons1/carret-down.svg) no-repeat 0 54%;
      }

      &.ct-caret-up {
        background: url(./assets/icons1/carret-up.svg) no-repeat 0 54%;
      }

      @media (max-width: 800px) {
        width: 22px;
      }
    }
  }
}

.ct-nav-drop-menu {
  .ct-menu-content {
    top: 12px;
    z-index: 105;

    &.ct-menu-before {
      right: 12px;
    }

    &.ct-menu-after {
      left: -8px;
    }

    .ct-menu-item {
      line-height: 52px;
    }

    .ct-userpic .ct-menu-item {
      line-height: 70px;
      border-bottom: 1px solid #f3f4f6;

      ct-user-pic {
        top: -3px;
        left: -5px;
      }
    }

    .ct-logout .ct-menu-item {
      border-top: 1px solid #f3f4f6;

      @media (max-width: 800px) {
        line-height: 70px;
      }
    }

    .ct-menu-item {
      .mat-icon {
        width: 22px;
        height: 28px;
        margin-right: 10px;
        vertical-align: middle;
      }

      &:hover, &:active, &.active {
        .mat-icon {
          color: $nav-link-border;
        }

        a {
          color: $nav-link-hover;
        }
      }
    }
  }
}

.ct-nav-manage-menu {
  .ct-menu-content.ct-menu-before:before {
    right: 60px;
  }

  li:hover .ct-icon {
    color: $nav-link-border;
  }
}