:root {
  --main-blue: rgba(0, 120, 212, 1);
  --main-gray: rgba(234, 234, 234, 1);
  --error-color: rgba(218, 10, 0, 1);
}

.ct-coraltime {
  max-width: 350px;
  padding: 20px;
}

[class*="-container"] {
  margin-bottom: 5px;
}

.ct-textarea {
  width: 100%;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 14px;
}

.ct-textarea:hover {
  border-color: var(--main-gray);
}

.ct-textarea:focus {
  outline: 0;
  border-color: var(--main-blue);
}

.ct-textarea {
  border-color: var(--main-gray);
  resize: none;
}

.ct-coraltime label {
  padding: 0 5px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: rgba(0, 0, 0, .55);
}

.ct-time-period-container > div {
  display: inline-block;
  width: 50%;
  line-height: 20px;
}

.ct-time-period-container > div > div {
  display: inline-block;
  margin-right: 10px;
}

.ct-time-period-container .combo {
  width: 22px;
  float: left;
  margin-right: 5px;
  line-height: initial;
}

.ct-time-period-container input {
  text-align: center;
}

.ct-submit-button {
  float: right;
  margin-top: 10px;
  background-color: var(--main-blue);
  border: none;
  color: #fff;
}

.ct-submit-button[disabled] {
  background-color: #728096;
  opacity: .7;
}

.ct-coraltime-configuration {
  font-size: 14px;
}

.ct-coraltime-configuration label {
  display: block;
  margin-bottom: 6px;
}

.ct-coraltime-configuration input {
  width: 100%;
  padding: 0 5px;
  line-height: 24px;
}

.ct-validation-error {
  font-size: 12px;
  color: var(--error-color);
  visibility: hidden;
}

.ct-validation-error:before {
  display: inline-block;
  margin-right: 5px;
  content: "\ea02 ";
  font-family: "Bowtie";
  font-size: 14px;
  color: var(--error-color);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}