ct-color-picker {
  display: block;
  height: 20px;
}

.ct-color-picker {
  margin-top: -18px;
  position: relative;

  .mat-icon {
    width: 24px;
    height: 24px;
  }

  .ct-color-circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
  }
}

.ct-color-value {
  cursor: pointer;
}

.ct-color-picker-popup {
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 24px;
  display: none;
  background: #fff;
  max-width: 170px;
  border: 1px solid $form-border;
  z-index: 1;

  .ct-control-opened & {
    display: block;
  }

  .ct-color-circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
  }

  .mat-option {
    box-sizing: content-box;
    display: inline-block;
    height: 20px;
    padding: 11px;
    line-height: 20px;
    margin-bottom: -2px;
  }
}