.ct-color-picker {
  position: relative;
  font-size: 0;
  letter-spacing: 0;

  .ui-colorpicker-panel {
    background-color: #fff;

    .ui-colorpicker-hue-handle {
      border-color: #000;
    }
  }

  .ui-colorpicker-hue,
  .ui-colorpicker-color-selector,
  .ui-colorpicker-hue-handle,
  .ui-colorpicker-color-handle {
    cursor: crosshair;
  }

  .ui-colorpicker-preview {
    height: 35px;
    width: 35px;
    border-color: $gray;

    &:focus {
      border-color: $main-blue;
    }
  }

  .ct-input {
    width: calc(100% - 40px);
    margin-left: 5px;
    vertical-align: top;
  }
}