.ct-dialog {
  font-family: inherit;

  .ct-dialog-message {
    margin: 30px 0 20px;
  }

  .ct-dialog-button {
    position: relative;
    margin: -10px 0;
  }

  .ct-search-container {
    .ct-grid-search-filter {
      left: 0;
      top: 0;
      float: none;
      width: 100%;
    }

    input {
      padding-left: 30px;
      font-size: inherit;
      font-weight: 700;
      color: $inputColor;
      border-bottom: 2px solid $gray-page-background;

      &::-webkit-input-placeholder {
        color: $grid-text;
      }

      &::-moz-placeholder {
        color: $grid-text;
      }

      &:-moz-placeholder {
        color: $grid-text;
      }

      &:-ms-input-placeholder {
        color: $grid-text;
      }
    }

    .ct-search-icon {
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  .ct-form-block {
    padding: 0;
    margin-top: 13px;

    > div {
      margin-bottom: 10px;
    }

    .ct-form-label {
      > span {
        text-transform: lowercase !important;
      }
    }

    .ct-color-empty {
      margin-left: 20px;
    }

    .ct-error-text, .ct-hint-text {
      margin-top: 5px;
    }

    .ct-error-text + .ct-error-text {
      display: none;
    }

    .mat-input-wrapper {
      margin: 0;
      padding: 0;
    }
  }

  .mat-checkbox-label {
    vertical-align: middle;
    position: relative;
    top: 1px;
    font-size: 15px;
  }

  .mat-input-container {
    margin: 0;
    color: $main-blue;
  }

  .mat-select {
    vertical-align: middle;
    font-family: inherit;

    .mat-select-trigger {
      min-width: inherit;
      height: 29px;
      font-size: 14px;
    }
    .mat-floating-placeholder {
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;

      &:after {
        display: none;
      }
    }
    .mat-select-arrow {
      position: absolute;
      right: 0;
      color: $main-blue;
    }

    .mat-select-value-text {
      color: $main-blue;
      line-height: 25px;
    }
  }

  .ct-color-picker mat-icon {
    color: $main-blue;
  }

  .ct-dialog-title {
    position: relative;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: $dark-blue;

    .ct-dialog-close {
      right: -15px;
      top: -15px;
      width: 13px;
      height: 13px;
    }

    > span {
      display: inline-block;
      text-transform: none;
      vertical-align: top;
    }

    > span:nth-child(2) {
      margin-left: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .ct-buttons-block {
    position: relative;
    margin: 0 !important;
    padding: 9px 0 0;
    height: 42px;
    display: block;
    text-align: right;

    > button {
      display: inline-block;
    }

    > .ct-cancel-button {
      margin-top: 9px;
      border-bottom: none;
      line-height: 21px;
      font-family: inherit;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      outline: none;
      transition-duration: .3s;
      color: $main-blue;
      margin-right: 25px;
      position: relative;
      top: 0.5px;

      &:hover, &:focus {
        color: $nav-menu-hover;
      }
    }

    > .ct-blue-button {
      width: 110px;
      float: right;
    }
  }

  .ct-form {
    .ct-hide-form {
      display: none;
    }

    .ct-del-button {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      position: relative;
      top: 3px;
      font-size: 22px;
      color: #374456;
      transition-duration: .3s;

      &:hover, &:focus {
        cursor: pointer;
        color: $main-blue;
      }

      &[disabled] {
        opacity: .7;
        cursor: default;
      }
    }

    .ct-add-link {
      text-transform: capitalize;
      letter-spacing: normal;
    }

    .ct-input-container {
      max-width: 425px;
      display: flex;
    }

    .ct-add-button {
      float: left;
      cursor: pointer;
      position: relative;
      top: -7px;
      padding-right: 8px;

      .material-icons {
        background: $gray-text;
        color: #ffffff;
        border-radius: 4px;
        font-size: 28px;
      }
    }

    .ct-add-button:hover .material-icons {
      background: $main-blue;
    }

    .ct-form-header-text {
      margin: 0;
      font-family: inherit;
      height: 30px;
      font-size: 15px;

      span {
        vertical-align: top;
      }

      .ct-blue-text {
        max-width: 420px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 25px;
        font-size: 15px;
        font-family: inherit;
        letter-spacing: 0.2px;
      }
    }

    button[type="submit"] {
      float: right;

      @media (max-width: 35em) {
        display: block;
        float: none;
        margin-top: 20px;
        width: 100%;
      }
    }

    [class*="fa-sort"] {
      float: right;
      line-height: 40px;
    }
  }

  .ui-datatable-emptymessage {
    padding-top: 11px !important;
  }
}

.ct-data-dialog {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: calc(100vh - 100px);
  margin-bottom: -25px;

  &.ct-small-data-dialog {
    width: 600px;

    &:before {
      width: 660px;
    }

    .ct-grid-row-border tbody td:first-child:after {
      width: 600px;
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 960px;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
  }

  .ct-grid-row-border tbody tr:not(.ct-loading-block) td:first-child {
    &:before, &:after {
      width: 900px !important;
    }
  }

  &.ct-small-data-dialog {
    .ct-grid-row-border tbody tr:not(.ct-loading-block) td:first-child {
      &:before, &:after {
        width: 600px !important;
      }
    }
  }

  .ct-dialog-title {
    > span:nth-child(2) {
      max-width: 350px;
    }
  }

  .ct-grid {
    display: flex;
    flex: 1 0 0;
    margin: 0 -30px;
  }

  .ct-popup-table-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
    width: 100%;
  }

  .ui-datatable table {
    table-layout: auto;
  }

  .ct-grid-container {
    flex: 1 0 0;
    min-height: 0;
  }

  .ui-widget-content {
    background-color: transparent !important;
  }

  .ui-paginator-bottom {
    padding-left: 0 !important;

    .ui-paginator-rpp-options {
      margin-left: 0 !important;
    }
  }

  $selectHeight: 35px;

  .ct-select-ellipse {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    width: 150px;

    .ct-select {
      background-color: inherit;
      border: none;
    }

    .ct-select-selected-options-text {
      padding: 0 20px 0 15px;
      border-radius: 17.5px;
      border: 2px solid transparent;
      line-height: 31px;
    }

    [class*="fa-angle"] {
      color: transparent;
    }
  }

  .ct-grid-blue {
    .ui-datatable {
      background: $main-blue;
    }

    .ui-column-title,
    .ui-sortable-column-icon,
    .ct-select-selected-options-text {
      color: #fff;
    }

    .ct-select-option {
      .mat-list-item-content {
        padding-right: 30px !important;
      }
    }

    tr:not(.ct-loading-block) td:first-child {
      &:before, &:after {
        background-color: $gray-page-background;
      }
    }

    td, .ct-grid-delete {
      color: #fff;
    }

    tr:hover {
      td {
        color: $grid-text;
      }

      & + tr td:first-child:after {
        background-color: $main-blue !important;
      }

      .ct-select-selected-options-text {
        border-color: rgba(127, 207, 238, .5);
        color: $main-blue
      }

      [class*="fa-angle"], .ct-grid-link, .ct-grid-delete {
        color: $main-blue;
      }
    }
  }

  .ct-grid-container {
    margin-top: 20px;

    .ui-datatable-tablewrapper, .ui-datatable-scrollable-wrapper {
      th {
        padding: 15px 8px;
      }
    }
  }
}

ct-project-tasks-form {
  margin: 15px 0 -10px;
}

.ct-projects-tasks-form {
  position: relative;
  display: inline-block;
  width: 100%;

  li {
    margin-bottom: 10px;

    > div {
      display: inline-block;
    }
  }

  .ct-input {
    height: 30px;
    width: calc(100% - 160px);
  }

  .ct-buttons-block {
    height: 30px;
    line-height: 30px;
    padding: 0;
    float: right;

    > .ct-blue-button {
      float: none;
      width: 70px;
      height: 30px;
      min-width: 0;
      line-height: 30px;
    }

    > .ct-cancel-button {
      margin: 0 10px;
    }
  }

  .ct-add-button {
    margin-top: 13px;
    color: $main-blue;
    line-height: 28px;

    .material-icons {
      float: left;
      margin-right: 10px;
      background: $main-blue;
    }

    &:hover {
      color: $main-blue-hover;

      .material-icons {
        background: $main-blue-hover;
      }
    }

    &.ct-disabled {
      color: $gray-text;
      opacity: .5;

      .material-icons {
        background: $gray-text;
      }
    }
  }
}

.ct-project-settings-dialog {
  $formControlHeight: 24px;
  $formControlFontSize: 16px;
  width: 380px;

  .mat-input-element {
    text-align: center;
    top: 1px;
  }

  .mat-input-element:disabled {
    opacity: 0.7;
  }

  .mat-input-container {
    width: 35px;
    font-size: $formControlFontSize;

    &.mat-form-field-should-float {
      .mat-input-placeholder {
        display: none;
      }
    }

    .mat-form-field-required-marker {
      display: none;
    }

    .mat-form-field-infix {
      padding: 0;
      border: 0;
    }

    .mat-form-field-label-wrapper {
      padding: 0;
      top: 0;
    }

    .mat-input-placeholder {
      top: 0;
      text-align: center;
      color: $main-blue;
    }

    &.mat-form-field-disabled {
      .mat-input-placeholder {
        opacity: .7;
        color: rgba(0, 0, 0, .38);
      }
    }

    .mat-form-field-underline {
      height: 0;
      overflow: hidden;
    }
  }

  .mat-input-underline {
    border: none;
    border-top: 1px solid $main-blue;
    bottom: 0;
    left: 0;

    .mat-input-ripple {
      height: 1px;
    }

    &.mat-disabled {
      background-size: 2px 1px;
    }
  }

  .mat-input-invalid .mat-input-underline {
    display: block;
    border-color: #f44336;
  }

  .mat-radio-label {
    margin-bottom: 10px;
  }

  .ct-subscription {
    margin-top: 3px;
    padding-bottom: 12px;
    font-style: normal;
    font-size: 12px;
    color: inherit;
  }

  mat-radio-group > div {
    margin-top: -2px;

    .mat-radio-label {
      margin-bottom: 9px;
    }
  }

  .mat-radio-label-content {
    font-size: 15px;
  }

  p {
    margin-top: 7px;
    font-size: 12px;
    line-height: 18px;
  }

  .ct-select-inline {
    text-transform: lowercase;

    .ct-select-component {
      display: inline-block;
      height: $formControlHeight;
      width: 80px;
      vertical-align: middle;
      margin-top: -5px;

      .ct-select-selected-options-text {
        font-size: $formControlFontSize;
        line-height: 26px;
        color: $main-blue;
      }

      .ct-select-option:before {
        left: 5px;
        right: 5px;
      }

      .mat-list-item-content {
        padding: 10px !important;
      }
    }

    .ct-select-options {
      height: $formControlHeight;
    }

    .ct-select {
      box-shadow: none;
      border: none;
      background-color: transparent;
      height: $formControlHeight;

      &:after {
        top: 11px;
        right: 8px;
      }

      &.ct-disabled {
        &:after {
          border-top-color: #878f9a;
        }
        .ct-select-selected-options-text {
          color: rgba(0, 0, 0, .38);

          &:after {
            border-top-color: $main-blue;
          }
        }
      }
    }

    .ct-select-selected-options-text {
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        height: 0;
        width: 100%;
      }
    }

    &.ng-invalid:not(.ng-pristine) {
      .ct-select-selected-options-text:after {
        border-color: #f44336;
      }
    }

    .ct-select-opened {
      .ct-select-selected-options-text:after {
        border-top-style: solid;
      }
    }
  }

  .ct-dialog-title {
    span:nth-child(2) {
      max-width: 270px;
    }
  }

  .ct-buttons-block {
    margin-top: 15px !important;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
}

.ct-users-dialog {
  .ct-form-block {
    padding-bottom: 20px;

    label:not(.mat-radio-label) > span {
      text-transform: none !important;
    }
  }

  .mat-checkbox {
    display: block;
    margin-top: 20px;
  }
}

.ct-assignment-form {
  .ct-form-container .ct-grid-container {
    table {
      tr {
        > td:nth-child(2) {
          .ct-select {
            width: 150px;
          }
        }
      }
    }
  }
}

.ct-dialog-add {
  width: 380px;

  .ct-dialog-title {
    > span:nth-child(2) {
      max-width: 330px;
    }
  }
}