$inputHeight: 42px;

.ct-input {
  background: #fff;
  border: none;
  border-bottom: 2px solid $inputBorderColor;
  padding: 5px 10px 5px 0;
  box-sizing: border-box;
  outline: none;
  height: $inputHeight;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  color: $inputColor;

  &[disabled] {
    background-color: #ececec;
    cursor: default;
    opacity: 0.6;
  }
}

.ct-input:focus {
  border-color: $main-blue;
}

.ct-required-field-container {
  position: relative;
  max-height: $inputHeight;

  .ct-select-opened-control {
    display: inline !important;
  }

  .ct-select-component {
    margin-top: -16px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background: $main-blue;
    z-index: 1;
  }
}

.ct-project-name-container {
  margin-top: -2px;
}

.ct-input-hidden-control {
  display: block;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}