ct-loading-bar {
  position: absolute;
}

#loading-bar {
  pointer-events: none;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  .ct-loading-spinner {
    svg {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99999;
      width: 50px !important;
      height: 50px !important;
    }

    circle {
      stroke: #29d;
    }
  }
}