#loading-mask {
  position: fixed;
  top: $nav-height;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
  opacity: 0;
  z-index: -1;

  .loading-mask-content {
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    background: url(./assets/icons/ct.logo-2.svg) no-repeat center center;
    background-size: contain;
    opacity: 0;
    animation: ld-spin-fast 1s infinite;
    transform-origin: 51px 53px;
  }

  &.ct-active, &.ct-active .loading-mask-content {
    transition: opacity 1s ease .3s;
    opacity: 1;
    z-index: 9999;
  }

  &.ct-impersonate {
    margin-top: 50px;
  }
}

@keyframes ld-spin-fast {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1080deg);
  }
}
