#loading-mask {
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .7);
  opacity: 0;
  transition: opacity .3s ease;
  z-index: -1;

  .loading-mask-content {
    width: 100px;
    height: 100px;
    margin: auto;
    background: url(./assets/doublering.gif) no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 1s ease;
  }

  &.ct-active, &.ct-active .loading-mask-content {
    opacity: 1;
    z-index: 9999;
  }
}