$searchInputHeight: 28px;
$linkColor: #0099cf;

.ct-search-filter {
  position: relative;

  input {
    height: $searchInputHeight;
    width: 100%;
    padding: 0 50px 0 10px;
    background: #fff;
    border: 1px solid $form-border;
  }

  .fa-search {
    position: absolute;
    right: 8px;
    top: 7px;
    color: $gray-text;
    opacity: .6;
  }

  .fa-times {
    position: absolute;
    right: 27px;
    top: 6px;
    font-size: 16px;
    color: $gray-button;
    opacity: .6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.ui-multiselect-panel {
  width: 380px;
  border: 0;
  padding: 0;

  .ui-multiselect-panel {
    padding: 30px 35px;
  }

  .ui-multiselect-filter-container {
    input {
      border: none;
      width: 100%;
      background-color: $border-—Åolor;
    }
  }

  .ui-multiselect-item {
    height: 32px;
    padding: 0 0 10px 0;
    cursor: pointer;

    &:not(.ui-state-highlight):hover {
      background: none;
      color: inherit;
    }

    label {
      display: inline-block;
      max-width: 275px;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 1px;
      cursor: pointer;

      &.ct-archived-option {
        color: $gray-text;
      }
    }
  }

  .ui-chkbox-box {
    &.ui-state-focus {
      box-shadow: none;

      .ui-chkbox-icon {
        border-color: $linkColor;
      }
    }
  }

  .ui-chkbox-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    background: #fff;
    border: 1px solid $form-border;
    font-size: 16px;

    &.fa-check {
      color: $linkColor;
      border-color: $linkColor;

      &:before {
        display: block;
        margin-top: -1px;
      }
    }
  }

  .ct-multiselect-panel-footer {
    border-top: 1px solid $form-border;
    padding-top: 20px;
    margin-top: 10px;

    button {
      font-size: 16px;
    }

    .ct-cancel-button {
      display: inline-block;
      margin-top: 11px;
    }
    .ct-blue-button {
      float: right;
    }
  }

  .ui-multiselect-select-all-container {
    padding: 20px 0;
    font-family: inherit;

    ul {
      li {
        display: inline-block;

        &:last-child {
          float: right;
        }

        a {
          color: $linkColor;
          cursor: pointer;
          font-family: inherit;
          font-size: $smallFont;
          text-transform: uppercase;

          &:hover {
            color: $primary-btn-hover;
          }
        }
      }
    }
  }
}

.ct-multiselect {
  font-family: inherit;

  .ct-select label {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
  }
}

.ui-shadow {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ui-multiselect:not(.ui-state-disabled):hover {
  color: inherit;
  background: none;
}

.ui-widget-content.ui-multiselect-panel {
  background: $calendarTaskColor;
}