$searchInputHeight: 28px;
$linkColor: #0099cf;

.ct-search-filter {
  position: relative;

  input {
    height: $searchInputHeight;
    width: 100%;
    padding: 0 50px 0 10px;
    background: #fff;
    border: 2px solid $gray-border;
    border-radius: 5px;
    color: $main-grey;
  }

  .fa-search {
    position: absolute;
    right: 8px;
    top: 7px;
    color: $main-grey;
    opacity: .6;
  }

  .fa-times {
    position: absolute;
    right: 27px;
    top: 6px;
    font-size: 16px;
    color: $main-grey;
    opacity: .6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.ui-multiselect-panel {
  width: 260px;

  .ui-multiselect-panel {
    padding: 25px;
  }

  .ui-multiselect-filter-container {
    input {
      border: none;
      width: 100%;
      background-color: $border-color;
    }
  }

  .ui-multiselect-item {
    padding: 7px 5px 7px 10px;
    height: 34px;
    margin: 0 15px 0 0;

    &:not(.ui-state-highlight):hover {
      background: $selectItemBgHover;
      color: inherit;
      border-radius: 2px;
    }

    label {
      display: inline-block;
      max-width: calc(100% - 35px);
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 1px;
      font-weight: 700;
      color: $main-grey;
      cursor: pointer;

      &.ct-archived-option {
        opacity: .5;
      }
    }
  }

  .ui-chkbox {
    margin: -4px 10px 0 0;
  }

  .ui-chkbox-box {
    &.ui-state-focus {
      box-shadow: none;

      .ui-chkbox-icon {
        border-color: $linkColor;
      }
    }
  }

  .ui-chkbox-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: 2px solid $gray-border;
    border-radius: 2px;
    font-size: 14px;

    &.fa-check {
      color: #fff;
      border-color: $main-blue;
      background-color: $main-blue;
    }
  }

  .ct-multiselect-panel-footer {
    border-top: 2px solid $gray-page-background;
    padding-top: 20px;
    margin-top: 10px;

    button {
      font-size: 16px;
    }

    .ct-cancel-button {
      display: inline-block;
      margin-top: 11px;
    }
    .ct-blue-button {
      float: right;
    }
  }

  .ui-multiselect-select-all-container {
    padding: 20px 0;
    font-family: inherit;

    ul {
      li {
        display: inline-block;

        &:last-child {
          float: right;
        }

        a {
          color: $main-blue;
          cursor: pointer;
          font-family: inherit;
          font-size: 13px;

          &:hover {
            color: #1b81a9;
          }
        }
      }
    }
  }
}

.ct-multiselect {
  font-family: inherit;

  .ct-select label {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
  }
}

.ui-shadow {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ui-multiselect:not(.ui-state-disabled):hover {
  color: inherit;
  background: none;
}

.ui-widget,
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: inherit;
}