.ct-select-component {
  height: $selectHeight;
  font-size: 14px;
  font-weight: bold;

  .ct-select-options-list {
    position: relative;
    width: 100%;
    top: 1px;
    background: #fff;
    padding: 15px 0;
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: 101;
    transition-duration: .3s;
    box-shadow: $box-shadow;
    border-radius: 5px;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    overflow: hidden;

    .ct-label-item {
      cursor: pointer;
    }

    .slimscroll-wrapper {
      display: flex !important;
    }

    .slimscroll-grid {
      position: relative !important;
    }

    .ct-select-options-wrapper {
      max-height: 145px;
      transition-duration: .3s;
      flex: 1 0 0;
    }

    .ct-select-option {
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        content: '';
        border-radius: 2px;
      }

      &.ct-select-option-disabled {
        background: #f0f0f0;

        label {
          opacity: .3;
        }
      }
    }

    .mat-list-item-content {
      min-height: 35px;
      padding: 10px 45px 10px 30px !important;
      color: $grid-text;
      cursor: pointer;
    }

    .ct-select-option:hover, .ct-select-option-selected {
      &:before {
        background: $selectItemBgHover;
      }
    }

    .ct-label-item {
      word-break: break-all;
      font-family: $baseFontFamily;
      font-size: $baseFont;
    }
  }

  .ct-select-selected-options-text {
    box-sizing: border-box;
    font-size: $baseFont;
    padding-right: 16px;
    height: 100%;
    width: 100%;
    line-height: $selectHeight;
    color: $inputColor;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.ct-select-default-text {
      color: $gray-text;
    }
  }

  [class *= "fa-angle"] {
    position: absolute;
    right: 9px;
    top: calc(50% - 10px);
  }

  &.ct-select-opened {
    .ct-select-options-list {
      height: auto;
      opacity: 1;
      visibility: visible;
      display: block;
    }

    .ct-select-options-wrapper {
      max-height: 168px;
    }
  }

  &.ct-select-animate {
    .ct-select-options-list {
      opacity: 1;
      height: auto;
    }
  }

  .slimscroll-grid {
    margin-right: 9px !important;
  }

  .slimscroll-bar {
    margin-right: 10px !important;
  }
}

.ct-archived .ct-select-selected-options-text {
  opacity: 0.6;
}

.ct-select {
  position: relative;
  height: $selectHeight;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 2px solid $inputBorderColor;
  cursor: pointer;
  box-sizing: border-box;

  .ct-select-opened & {
    outline: none;
    border-color: $main-blue !important;
  }

  &.ct-disabled {
    background-color: #ececec;
    cursor: default;
    opacity: 0.6;
  }
}

.ct-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  &:focus::-ms-value {
    background-color: #fff;
    color: $grid-text;
  }
}

.ct-select::-ms-expand {
  display: none;
}