$textAreaHeight: 116px;

.ct-textarea-component {
  padding: 4px 9px;
  border: 1px solid $form-border;
  background: #fff;

  &.ct-focused {
    border: 1px solid $nav-link-border;
  }

  .ct-textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 114px;
    padding: 0;
    background: $primary-btn-text;
    border: none;
    outline: none;
    font-family: Roboto Regular, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    overflow: hidden;
  }

  .ct-textarea-container {
    max-height: $textAreaHeight;
    padding: 1px 10px 1px 0 !important;
  }

  &.ct-can-resize {
    .slimscroll-wrapper {
      height: 100% !important;
    }

    .ct-textarea {
      min-height: 40px;
    }
  }
}

::-webkit-input-placeholder {
  color: $gray-text;
}

::-moz-placeholder {
  color: $gray-text;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: $gray-text;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: $gray-text;
}