ct-user-pic {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &.ct-user-pic-avatar {
    width: 199px;
    height: 200px;
    border: 1px solid #ccc;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .ct-userpic-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      height: 100%;
      width: 100%;
      background-size: 100%;
      background: url(./assets/icons/userpic.svg) no-repeat center center;
      font-size: 1em;
    }
  }
}