<div class="ct-calendar-page" (window:resize)="onResize($event)">
    <div class="ct-page-container">
        <div class="ct-page-header">
            <div *ngIf="availablePeriod > 1" class="ct-page-tabs ct-calendar-view">
                <a (click)="toggleView(false)" [class.ct-active-tab]="activePeriod == 1">day</a>
                <a (click)="toggleView(true)" [class.ct-active-tab]="activePeriod > 1">week</a>
            </div>
            <div *ngIf="availablePeriod > 1"  class="ct-page-tabs ct-calendar-periods">
                <a (click)="toggleTimePeriod(-1)">
                    <i class="fa fa-angle-left"></i>
                    {{getDatesPeriod(-1)}}
                </a>
                <a class="ct-active-tab">{{getDatesPeriod(0)}}</a>
                <a (click)="toggleTimePeriod(1)">
                    <i class="fa fa-angle-right"></i>
                    {{getDatesPeriod(1)}}
                </a>
            </div>
            <div *ngIf="availablePeriod === 1" class="ct-page-tabs ct-calendar-periods-mobile">
                <a (click)="toggleTimePeriod(-1)">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a *ngFor="let day of calendarDays" [class.ct-active-tab]="day.date === date"
                   (click)="toggleTimePeriod(0, day.date)">
                    <span class="ct-day-name">{{day.dayName}}</span>
                    <span class="ct-day-number">{{day.dayNumber}}</span>
                </a>
                <a (click)="toggleTimePeriod(1)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

            <div *ngIf="availablePeriod > 1" class="ct-calendar-projects">
                <ct-multiselect
                        [panelStyleClass]="'ct-calendar-multiselect' + (impersonationService.impersonationUser ? ' ct-impersonate' : '')"
                        [(ngModel)]="projectIds"
                        (onChange)="toggleProject(projectIds)"
                        [appendTo]="'body'"
                        [defaultLabel]="'All Projects'"
                        [options]="projects"
                        [extraActionTitle]="showOnlyActive ? 'Show Archived' : 'Hide Archived'"
                        (onExtraAction)="toggleArchivedProjects()"
                        [maxSelectedLabels]="1"
                        [selectedItemsLabel]="'Projects ({0})'">
                </ct-multiselect>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>